// ---------- Importaciones ---------- //
@import './Var.scss';
@import './Mixin.scss';

// ---------- General ---------- //
header {
    @include Font(1rem, $PrimaryColor);
    height: 100px;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

// ---------- Sección superior ---------- //
#UpperSectionHeader {
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    cursor: default;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    padding: 0px 10px;
}

#TitleChildUpperSectionHeader a {
    color: $ThirdColor;
    transition: transform 1s ease-out;
}

#TempChild1UpperSectionHeader {
    cursor: default;
    text-align: right;
}

#TempChild1UpperSectionHeader span {
    display: inline-block;
    text-align: center;
    width: 50px;
}

// ---------- Sección inferior ---------- //
#BottomSectionHeader {
    height: 50px;
}

#NavBottomSectionHeader {
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#LeftNavBottomSectionHeader {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 600px;
}

.ListLeftNavBottomSectionHeader {
    @include Font(1.5rem, $PrimaryColor);
    background-color: transparent;
    border: none;
    color: $PrimaryColor;
    cursor: pointer;
    text-decoration: none;
}

.ListLeftNavBottomSectionHeader:hover {
    color: $ThirdColor;
}

#CenterNavBottomSectionHeader,
#RightNavBottomSectionHeader {
    @extend #LeftNavBottomSectionHeader;
}

#CenterNavBottomSectionHeader {
    display: block;
}

#CenterNavBottomSectionHeader h1 {
    color: $PrimaryColor;
    cursor: default;
    font-family: Cinzel, serif;
    text-align: center;
}

#RightNavBottomSectionHeader {
    justify-content: flex-end;
}

.ListRightNavBottomSectionHeader {
    background-color: transparent;
    border: none;
    color: $PrimaryColor;
    cursor: pointer;
    margin-right: 20px;
}

.ListRightNavBottomSectionHeader span {
    zoom: 1.25;
}