@media screen and (max-width: 1820px) {
    #LeftNavBottomSectionHeader {
        width: 550px;
    }

    .ArticleFeaturedProductsSectionMain {
        min-height: 440px;
        min-width: 440px;
    }

    .ArticleMoreContentSectionMain {
        min-width: 440px;
        max-width: 440px;
    }

    .ArticleUpperRightCompareSectionMain {
        min-width: 400px;
        max-width: 400px;
    }

    #BottomTestimonialsSectionMain {
        width: 1400px;
    }

    #LeftButtonBottomTestimonialsSectionMain {
        top: 10475px;
    }
}

// @media screen and (max-width: 1720px) {
//     #UpperTopProductSectionMain h2 {
//         @include Font(3.5rem, $PrimaryColor);
//     }

//     #ImageArticleTopProductSectionMain {
//         height: 450px;
//     }

//     .ArticleMoreContentSectionMain {
//         min-width: 400px;
//         max-width: 400px;
//     }

//     #PromotionUpperSuscribeSectionMain {
//         min-width: 900px;
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 375px;
//         max-width: 375px;
//     }

//     .ArticleBottomLatestNewsSectionMain img {
//         height: 400px;
//         width: 450px;
//     }

//     #BottomTestimonialsSectionMain {
//         width: 1300px;
//     }

//     #LeftButtonBottomTestimonialsSectionMain {
//         top: 10300px;
//     }
// }

// @media screen and (max-width: 1620px) {
//     #LeftNavBottomSectionHeader {
//         width: 500px;
//     }

//     #LeftFeaturedProductsSectionMain {
//         top: 1220px;
//     }

//     .ArticleFeaturedProductsSectionMain {
//         min-height: 400px;
//         min-width: 400px;
//     }

//     #UpperTopProductSectionMain h2 {
//         @include Font(3rem, $PrimaryColor);
//     }

//     #ImageArticleTopProductSectionMain {
//         height: 425px;
//     }

//     #TitleChildArticleTopProductSectionMain {
//         @include Font(4rem, $PrimaryColor);
//     }

//     #DescriptionChildArticleTopProductSectionMain {
//         @include Font(1.5rem, $PrimaryColor);
//     }

//     .ArticleMoreContentSectionMain {
//         min-width: 375px;
//         max-width: 375px;
//     }

//     #PromotionUpperSuscribeSectionMain {
//         min-width: 800px;
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 350px;
//         max-width: 350px;
//     }

//     .ArticleBottomLatestNewsSectionMain img {
//         height: 375px;
//         width: 425px;
//     }

//     #BottomTestimonialsSectionMain {
//         width: 1250px;
//     }

//     #LeftButtonBottomTestimonialsSectionMain {
//         top: 10150px;
//     }
// }

// @media screen and (max-width: 1520px) {
//     #LeftNavBottomSectionHeader {
//         width: 475px;
//     }

//     .ArticleFeaturedProductsSectionMain {
//         min-height: 375px;
//         min-width: 375px;
//     }

//     .ArticleMoreContentSectionMain {
//         min-width: 340px;
//         max-width: 340px;
//     }

//     #LeftProductWeekSectionMain p {
//         @include Font(1.5rem, $FifthColor);
//     }

//     #ArticleRightProductWeekSectionMain {
//         height: 450px;
//     }

//     #PromotionUpperSuscribeSectionMain {
//         min-width: 800px;
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 300px;
//         max-width: 300px;
//     }

//     .ArticleBottomLatestNewsSectionMain img {
//         height: 325px;
//         width: 375px;
//     }

//     #BottomTestimonialsSectionMain {
//         width: 1100px;
//     }

//     #LeftButtonBottomTestimonialsSectionMain {
//         top: 9825px;
//     }
// }

// @media screen and (max-width: 1420px) {
//     #LeftNavBottomSectionHeader {
//         width: 450px;
//     }

//     #LeftFeaturedProductsSectionMain {
//         top: 1200px;
//     }

//     .ArticleFeaturedProductsSectionMain {
//         min-height: 350px;
//         min-width: 350px;
//     }

//     .ArticleMoreContentSectionMain {
//         min-width: 320px;
//         max-width: 320px;
//     }

//     #LeftProductWeekSectionMain p {
//         @include Font(1.5rem, $FifthColor);
//     }

//     #PromotionUpperSuscribeSectionMain {
//         min-width: 700px;
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 275px;
//         max-width: 275px;
//     }

//     .ArticleBottomLatestNewsSectionMain {
//         height: 500px;
//         width: 350px;
//     }

//     .ArticleBottomLatestNewsSectionMain img {
//         height: 275px;
//         width: 100%;
//     }

//     #BottomTestimonialsSectionMain {
//         width: 1100px;
//     }

//     #LeftButtonBottomTestimonialsSectionMain {
//         top: 9845px;
//     }
// }

// @media screen and (max-width: 1320px) {
//     #LeftNavBottomSectionHeader {
//         width: 425px;
//     }

//     #Child0WelcomeSectionMain h1 {
//         @include Font(8rem, $PrimaryColor);
//     }

//     #LeftFeaturedProductsSectionMain {
//         top: 1150px;
//     }


//     .ArticleFeaturedProductsSectionMain {
//         min-height: 325px;
//         min-width: 325px;
//     }

//     #UpperTopProductSectionMain h2 {
//         @include Font(2rem, $PrimaryColor);
//     }

//     #ImageArticleTopProductSectionMain {
//         height: 375px;
//     }

//     #TitleChildArticleTopProductSectionMain {
//         @include Font(3rem, $PrimaryColor);
//     }

//     #DescriptionChildArticleTopProductSectionMain {
//         @include Font(1.25rem, $PrimaryColor);
//     }

//     .ArticleMoreContentSectionMain {
//         min-width: 290px;
//         max-width: 290px;
//     }

//     #LeftProductWeekSectionMain p {
//         @include Font(1.25rem, $FifthColor);
//     }

//     #PromotionUpperSuscribeSectionMain {
//         min-width: 500px;
//     }

//     #PromotionUpperSuscribeSectionMain h2 {
//         @include Font(6rem, $PrimaryColor);
//     }

//     #PromotionUpperSuscribeSectionMain p {
//         @include Font(1.25rem, $PrimaryColor);
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 250px;
//         max-width: 250px;
//     }

//     #BottomTestimonialsSectionMain {
//         width: 950px;
//     }

//     #LeftButtonBottomTestimonialsSectionMain {
//         top: 9745px;
//     }
// }

// @media screen and (max-width: 1220px) {
//     #LeftNavBottomSectionHeader {
//         width: 390px;
//     }

//     #Child0WelcomeSectionMain h1 {
//         @include Font(6rem, $PrimaryColor);
//     }

//     #LeftFeaturedProductsSectionMain {
//         top: 1100px;
//     }


//     .ArticleFeaturedProductsSectionMain {
//         min-height: 300px;
//         min-width: 300px;
//     }

//     #ImageArticleTopProductSectionMain {
//         height: 350px;
//     }

//     .ArticleMoreContentSectionMain {
//         min-width: 275px;
//         max-width: 275px;
//     }

//     #AboutMaterialsSectionMain {
//         width: 400px;
//     }

//     #AboutMaterialsSectionMain h2 {
//         @include Font(3rem, $SecundaryColor);
//     }

//     #AboutMaterialsSectionMain p {
//         @include Font(1.25rem, $SecundaryColor);
//     }

//     #LeftProductWeekSectionMain p {
//         @include Font(1.25rem, $FifthColor);
//     }

//     #PromotionUpperSuscribeSectionMain {
//         min-width: 500px;
//     }

//     #LeftProductWeekSectionMain h2 {
//         @include Font(3.5rem, $SecundaryColor);
//     }

//     #LeftProductWeekSectionMain a {
//         @include Font(1.25rem, $ThirdColor);
//     }

//     #ArticleRightProductWeekSectionMain {
//         height: 350px;
//     }

//     #PromotionUpperSuscribeSectionMain h2 {
//         @include Font(5rem, $PrimaryColor);
//     }

//     #PromotionUpperSuscribeSectionMain p {
//         @include Font(1rem, $PrimaryColor);
//     }

//     #LeftCompareSectionMain p {
//         @include Font(1rem, $FifthColor);
//     }

//     #LeftCompareSectionMain h2 {
//         @include Font(3rem, $SecundaryColor);
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 225px;
//         max-width: 225px;
//     }

//     .ArticleBottomLatestNewsSectionMain {
//         height: 450px;
//         width: 300px;
//     }

//     .ArticleBottomLatestNewsSectionMain img {
//         height: 225px;
//         width: 100%;
//     }

//     #BottomTestimonialsSectionMain {
//         width: 850px;
//     }

//     #LeftButtonBottomTestimonialsSectionMain {
//         top: 9225px;
//     }
// }

// @media screen and (max-width: 1120px) {
//     #LeftNavBottomSectionHeader {
//         width: 350px;
//     }

//     .ArticleFeaturedProductsSectionMain {
//         min-height: 275px;
//         min-width: 275px;
//     }

//     .ArticleMoreContentSectionMain {
//         min-width: 225px;
//         max-width: 225px;
//     }

//     .NameMoreContentSectionMain {
//         font-size: 1rem;
//     }

//     #AboutMaterialsSectionMain {
//         width: 350px;
//     }

//     #ArticleRightProductWeekSectionMain {
//         height: 300px;
//     }

//     #PromotionUpperSuscribeSectionMain h2 {
//         @include Font(5rem, $PrimaryColor);
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 200px;
//         max-width: 200px;
//     }

//     .ChildsUpperFeaturedAboutSectionMain {
//         width: 150px !important;
//     }

//     #MiddleFeaturedAboutSectionMain p {
//         @include Font(1.25rem, $PrimaryColor);
//     }

//     #BottomTestimonialsSectionMain {
//         width: 650px;
//     }

//     #LeftButtonBottomTestimonialsSectionMain {
//         top: 9005px;
//     }
// }

// @media screen and (max-width: 1020px) {
//     #LeftNavBottomSectionHeader {
//         width: 325px;
//     }

//     .ArticleFeaturedProductsSectionMain {
//         min-height: 255px;
//         min-width: 255px;
//     }

//     .ArticleMoreContentSectionMain {
//         min-width: 220px;
//         max-width: 220px;
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 175px;
//         max-width: 150px;
//     }

//     #BottomLatestNewsSectionMain {
//         flex-direction: column;
//     }

//     .ArticleBottomLatestNewsSectionMain {
//         height: 550px;
//         margin-bottom: 10px;
//         width: 500px;
//     }

//     .ArticleBottomLatestNewsSectionMain img {
//         height: 300px;
//         width: 100%;
//     }

//     .ArticleBottomLatestNewsSectionMain p {
//         @include Font(1rem !important, $FifthColor);
//     }

//     .ChildsUpperFeaturedAboutSectionMain {
//         width: 75px !important;
//     }

//     #MiddleFeaturedAboutSectionMain p {
//         @include Font(1rem, $PrimaryColor);
//         width: 100%;
//     }

//     #BottomFeaturedAboutSectionMain {
//         flex-direction: column;
//         flex-wrap: wrap;
//     }

//     .IconChildBottomFeaturedAboutSectionMain {
//         zoom: 1.5;
//     }

//     #BottomTestimonialsSectionMain {
//         width: 650px;
//     }

//     #LeftButtonBottomTestimonialsSectionMain {
//         top: 10700px;
//     }
// }

// @media screen and (max-width: 920px) {
//     #LeftNavBottomSectionHeader {
//         display: none;
//     }

//     #CenterNavBottomSectionHeader,
//     #RightNavBottomSectionHeader {
//         align-items: center;
//         display: flex;
//         flex-direction: row;
//         flex-wrap: nowrap;
//         justify-content: center;
//         width: 600px;
//     }

//     .ArticleFeaturedProductsSectionMain {
//         min-height: 300px;
//         min-width: 300px;
//     }

//     .ChildBottomCategorySectionMain h2 {
//         @include Font(2rem, $PrimaryColor);
//     }

//     #UpperTopProductSectionMain h2 {
//         @include Font(1.5rem, $PrimaryColor);
//     }

//     #LeftBottomCategorySectionMain {
//         height: 705px;
//     }

//     #Child0RightBottomCategorySectionMain {
//         height: 340px;
//     }

//     #Child1RightBottomCategorySectionMain {
//         height: 340px;
//     }

//     #BottomMoreContentSectionMain {
//         align-items: stretch;
//         flex-direction: row;
//         flex-wrap: wrap;
//     }

//     .ArticleMoreContentSectionMain {
//         margin: 10px 0px;
//         min-width: 350px;
//         max-width: 350px;
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 175px;
//         max-width: 150px;
//     }

//     #ProductWeekSectionMain {
//         grid-template-columns: none;
//         grid-template-rows: auto auto;
//     }

//     #ArticleRightProductWeekSectionMain {
//         height: 500px;
//     }

//     #UpperSuscribeSectionMain {
//         flex-direction: column;
//     }

//     #CompareSectionMain {
//         grid-template-columns: none;
//         grid-template-rows: auto auto;
//     }

//     #LeftCompareSectionMain {
//         align-items: center
//     }

//     #LeftCompareSectionMain p {
//         @include Font(1.25rem, $FifthColor);
//         text-align: center;
//     }

//     #LeftCompareSectionMain h2 {
//         text-align: center;
//     }

//     #BottomLatestNewsSectionMain {
//         flex-direction: column;
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 300px;
//         max-width: 300px;
//     }

//     #BottomTestimonialsSectionMain {
//         width: 550px;
//     }

//     #LeftButtonBottomTestimonialsSectionMain {
//         top: 11650px;
//     }

//     #UpperSectionFooter {
//         flex-wrap: wrap;
//     }

//     .ChildUpperSectionFooter {
//         align-items: center;
//         width: 40%;
//     }

//     .ChildUpperSectionFooter h2 {
//         text-align: center;
//     }

//     .ChildUpperSectionFooter a {
//         text-align: center;
//     }

//     .ChildUpperSectionFooter p {
//         text-align: center;
//     }
// }

// @media screen and (max-width: 820px) {

//     #ButtonNextWelcomeSectionMain {
//         margin-bottom: 100px;
//     }

//     #ButtonProductWelcomeSectionMain {
//         display: none;
//     }

//     #LeftFeaturedProductsSectionMain {
//         top: 950px;
//     }

//     .ArticleFeaturedProductsSectionMain {
//         min-height: 400px;
//         min-width: 400px;
//     }

//     #ArticleTopProductSectionMain {
//         flex-direction: column;
//         flex-wrap: wrap;
//     }

//     #UpperCategorySectionMain h2 {
//         @include Font(3rem, $SecundaryColor);
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 200px;
//         max-width: 200px;
//     }

//     #BottomTestimonialsSectionMain {
//         width: 500px;
//     }

//     #LeftButtonBottomTestimonialsSectionMain {
//         left: 50px;
//         top: 12750px;
//     }

//     #RightButtonBottomTestimonialsSectionMain {
//         left: auto;
//         right: 50px;
//     }
// }

// @media screen and (max-width: 720px) {

//     .ArticleFeaturedProductsSectionMain {
//         min-height: 375px;
//         min-width: 375px;
//     }

//     #UpperCategorySectionMain h2 {
//         @include Font(3rem, $SecundaryColor);
//     }

//     .ArticleMoreContentSectionMain {
//         margin: 10px 0px;
//         min-width: 300px;
//         max-width: 300px;
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 200px;
//         max-width: 200px;
//     }

//     #LeftButtonBottomTestimonialsSectionMain {
//         left: 30px;
//         top: 11325px;
//     }

//     #RightButtonBottomTestimonialsSectionMain {
//         left: auto;
//         right: 30px;
//     }
// }

// @media screen and (max-width: 620px) {

//     .ArticleFeaturedProductsSectionMain {
//         min-height: 325px;
//         min-width: 325px;
//     }

//     #UpperCategorySectionMain h2 {
//         @include Font(3rem, $SecundaryColor);
//     }

//     #ImageArticleTopProductSectionMain {
//         height: 150px;
//     }

//     .ArticleMoreContentSectionMain {
//         margin: 10px 0px;
//         min-width: 350px;
//         max-width: 350px;
//     }

//     #AboutMaterialsSectionMain {
//         width: 250px;
//     }

//     #AboutMaterialsSectionMain h2 {
//         @include Font(2rem, $SecundaryColor);
//     }

//     #AboutMaterialsSectionMain p {
//         @include Font(1rem, $SecundaryColor);
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 150px;
//         max-width: 150px;
//     }

//     .NameUpperRightCompareSectionMain {
//         font-size: 1rem;
//     }

//     #LeftButtonBottomTestimonialsSectionMain {
//         left: 15px;
//         top: 12325px;
//     }

//     #RightButtonBottomTestimonialsSectionMain {
//         left: auto;
//         right: 15px;
//     }
// }

// @media screen and (max-width: 520px) {
    
//     #TempChild1UpperSectionHeader span {
//         width: 100px;
//     }

//     #Child0WelcomeSectionMain p {
//         font-size: 0.75rem;
//     }

//     .ArticleFeaturedProductsSectionMain {
//         min-height: 500px;
//         min-width: 500px;
//     }
    
//     #UpperTopProductSectionMain h2 {
//         @include Font(1.25rem, $PrimaryColor);
//     }

//     #TitleChildArticleTopProductSectionMain {
//         @include Font(2rem, $PrimaryColor);
//     }

//     #DescriptionChildArticleTopProductSectionMain {
//         @include Font(1rem, $PrimaryColor);
//     }

//     .ChildBottomCategorySectionMain h2 {
//         @include Font(1.25rem, $PrimaryColor);
//     }

//     .ArticleMoreContentSectionMain {
//         margin: 10px 0px;
//         min-width: 275px;
//         max-width: 375px;
//     }

//     #ArticleRightProductWeekSectionMain {
//         height: 300px;
//     }

//     #RightCompareSectionMain {
//         display: none;
//     }

//     .ArticleUpperRightCompareSectionMain {
//         min-width: 175px;
//         max-width: 175px;
//     }

//     .NameUpperRightCompareSectionMain {
//         font-size: 1rem;
//     }

//     #LeftButtonBottomTestimonialsSectionMain {
//         left: 15px;
//         top: 11925px;
//     }

//     #RightButtonBottomTestimonialsSectionMain {
//         left: auto;
//         right: 15px;
//     }
// }