* {
    font-family: Arial, sans-serif;
}

.Titulo {
    text-align: center;
    text-transform: uppercase;
}

div {
    background-color: #e1e1e1;
    border: 2px solid #000000;
    height: auto;
    margin: 1% auto;
    padding: 1%;
    width: 90%;
}

div p {
    text-align: justify;
}

button {
    display: block;
    margin: 1% auto;
    width: 25%;
}