@import "CajaPredeterminada"; // Importación

// Variables
$Fondo: #4d4d4d; // Variable
$Letra: #129261; // Variable
$Primario: #e1e1e1; // Variable
$Secundario: #afafaf; // Variable
$Terciario: #9b9b9b; // Variable

// Uso de variables
.Predeterminado p {
    text-align: center;
    padding: 2.5vh 0vh;
}

// Variables locales
#VariableLocal {
    $BordeLocal: 2px solid #129261; //Variable local
    background-color: $Primario; //Propiedad igual al valor de la variable
}

// Variables globales
#VariableGlobal {
    $FondoGlobal: $Secundario !global; //Variable local definida como global
    background-color: $FondoGlobal; //Propiedad igual al valor de la variable
}

// Variable anidadas
#VariableAnidada {
    $AlturaAnidadaLocal: auto; //Variable

    .VariableAnidadaHija {
        background-color: $Primario; //Propiedad igual al valor de la variable
    }

    background-color: $Terciario; //Propiedad igual al valor de la variable
    height: $AlturaAnidadaLocal; //Propiedad igual al valor de la variable
}

// Mezclas
@mixin Codigo {
    //Mezcla de variables (Array)
    background-color: $Fondo; //Propiedad igual al valor de la variable
    color: $Letra; //Propiedad igual al valor de la variable
    padding: 1%;
}

@mixin Sombra($X, $Desenfoque, $SombraColor) {
    //Mezcla con atributos
    border-radius: 25px;
    box-shadow: $X 0px $Desenfoque $SombraColor; //Propiedad con asignación de valores y atributos
}

@mixin EsquinaArgumentoPredefinidos($IzquierdaSuperior: 25px, $DerechaInferior: 25px) {
    //Mezcla con atributos predefinidos
    border-radius: $IzquierdaSuperior 10px $DerechaInferior 2px; //Propiedad con asignación de valores y atributos
}

@mixin TransformacionPrefija($Valor) {
    //Mezcla con atributos prefijos
    transform: $Valor; //Propiedad con atributo como valor
}

#Mezcla {
    @include Codigo; //Uso de la mezcla
}

#Mezcla h4 {
    font-weight: 800;
    text-align: center;
}

#MezclaArgumento {
    @include Sombra(0px, 25px, #000000); //Uso de la mezcla con atributos
}

#MezclaArgumentoPredefinidos {
    @include EsquinaArgumentoPredefinidos; //Uso de la mezcla con atributos definidos
}

#MezclaPrefija {
    @include TransformacionPrefija(skew(5deg, 0deg)) //Uso de mezcla con atributo prefijo
}

#Extendido {
    @extend #MezclaArgumentoPredefinidos; //Uso de valores extendido
    background-color: $Primario;
}