/*Selectores*/
* {
  font-family: sans-serif;
  text-align: justify;
}

body {
  border: 2px groove #ffff00;
  margin: 0.5%;
}

.Titulo {
  color: black;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  text-align: center;
}

h1.Compartida {
  font-size: 30px;
}

h2,
h3,
h4 {
  font-size: 25px;
}

p {
  font-size: 15px;
}

.Compartida {
  font-size: 25px;
}

#Id {
  font-size: 25px;
}

.Extra {
  font-size: 25px;
}

/*Colores*/
#PredefinidoColor {
  background-color: yellow;
  border: 1px solid blue;
  color: blue;
}

#Fondo {
  background-color: rgb(255, 255, 0);
}

#Letra {
  color: #0000ff;
}

#Borde {
  border: 1px solid hsl(240, 100%, 50%);
}

#Hwb {
  background-color: hwb(60 0% 0%);
}

#Rgba {
  color: rgba(0, 0, 255, 0.5);
}

#Hsla {
  border: 1px solid hsla(240, 100%, 50%, 0.5);
}

#MezclaColor {
  background-color: #ffff00;
  border: 1px solid #0000ff;
  color: #0000ff;
}

/*Fondo*/
.Seccion {
  background-attachment: scroll;
  border: 2px groove #0000ff;
  background-image: url(../Img/MapaCSS.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#ColorDeFondo {
  background-color: #ffff00;
}

#ColorDeFondoConOpacidad {
  background-color: #ffff00;
  opacity: 0.5;
}

#SoloColorDeFondoOpaco {
  background-color: #ffff0080;
}

/* Bordes */
#DottedBorde {
  border-style: dotted;
  border-width: 5px;
}

#DashedBorde {
  border-style: dashed;
  border-width: thin medium thick 5px;
}

#SolidBorde {
  border-color: #0000ff;
  border-style: solid;
}

#DoubleBorde {
  border-color: #0000ff #ffff00 #0000ff #ffff00;
  border-style: double;
}

#GrooveBorde {
  border-radius: 5px;
  border-style: groove;
}

#RidgeBorde {
  border-style: ridge;
}

#InsetBorde {
  border-style: inset;
}

#OutsetBorde {
  border-style: outset;
}

#NoneBorde {
  border-style: none;
}

#HiddenBorde {
  border-style: hidden;
}

#MezclaBorde {
  border-style: dotted dashed solid double;
}

/* Margen */

#MargenDefinida {
  border: 2px groove #0000ff;
  margin: 1% 1% 0% 10%;
}

#MargenDefinidaYHeredada {
  border: 2px groove #0000ff;
  margin: 5%;
}

#MargenDefinidaYHeredadaHijo {
  border: 2px groove #0000ff;
  margin: inherit;
}

.MargenAutomatica {
  border: 2px groove #0000ff;
  margin: 1% auto;
  width: 50%;
}

/* Padding */
#PaddingDefinido {
  border: 2px groove #0000ff;
  padding: 10% 1% 5% 50%;
}

#PaddingDefinidoYHeredado {
  border: 2px groove #0000ff;
  padding: 2% 5% 5%;
}

#PaddingDefinidoYHeredado div {
  border: 2px groove #0000ff;
  padding: inherit;
}

#PaddingDefinidoConBoxSizing {
  border: 2px groove #0000ff;
  box-sizing: border-box;
  margin: auto;
  padding: 5px 30px;
  width: 300px;
}

/* Altura y anchura */
#AlturaYAnchura {
  border: 2px groove #0000ff;
  height: 250px;
  width: 75%;
}

#AlturaYAnchuraHeredada {
  border: 2px groove #0000ff;
  height: auto;
  width: inherit;
}

#AlturaYAnchuraMaxima {
  border: 2px groove #0000ff;
  height: 50px;
  max-width: 1000px;
}

#ModeloDeCaja {
  border: 2px groove #0000ff;
  margin: 5%;
  padding: 2%;
}

/* Outline */
#DottedOutline {
  border: 2px groove #0000ff;
  outline-style: dotted;
  outline-width: thin;
}

#DashedOutline {
  border: 2px groove #0000ff;
  outline-style: dashed;
  outline-width: medium;
}

#SolidOutline {
  border: 2px groove #0000ff;
  outline-style: solid;
  outline-width: thick;
}

#DoubleOutline {
  border: 2px groove #0000ff;
  outline-color: #ffff00;
  outline-style: double;
}

#GrooveOutline {
  border: 2px groove #0000ff;
  outline-offset: 2px;
  outline-style: groove;
}

#RidgeOutline {
  border: 2px groove #0000ff;
  outline-style: ridge;
}

#InsetOutline {
  border: 2px groove #0000ff;
  outline-style: inset;
}

#OutsetOutline {
  border: 2px groove #0000ff;
  outline-style: outset;
}

#NoneOutline {
  border: 2px groove #0000ff;
  outline-style: none;
}

#HiddenOutline {
  border: 2px groove #0000ff;
  outline-style: hidden;
}

/* Texto */

#TituloConEstilo {
  color: #0000ff;
}

#ParrafoAlineadoCentro {
  border: 2px groove #0000ff;
  text-align: center;
}

#ParrafoAlineadoDerecha {
  border: 2px groove #0000ff;
  text-align: right;
}

#ParrafoAlineadoIzquierda {
  border: 2px groove #0000ff;
  text-align: left;
}

#ParrafoAlineadoJustificado {
  border: 2px groove #0000ff;
  text-align: justify;
}

#ParrafoAlineadoFinalCentro {
  border: 2px groove #0000ff;
  text-align: left;
  text-align-last: center;
}

#ParrafoAlineadoFinalDerecha {
  border: 2px groove #0000ff;
  text-align: left;
  text-align-last: right;
}

#ParrafoAlineadoFinalJustificado {
  border: 2px groove #0000ff;
  text-align: left;
  text-align-last: justify;
}

#ParrafoDireccionado {
  border: 2px groove #0000ff;
  direction: rtl;
  unicode-bidi: bidi-override;
}

#ImagenAlineadaBase {
  vertical-align: baseline;
}

#ImagenAlineadaTextoSuperior {
  vertical-align: text-top;
}

#ImagenAlineadaTextoInferior {
  vertical-align: text-bottom;
}

#ImagenAlineadaSub {
  vertical-align: sub;
}

#ImagenAlineadaSup {
  vertical-align: super;
}

#TextoDecoradoSuperior {
  text-decoration-line: overline;
  text-decoration-color: #0000ff;
}

#TextoDecoradoLineThrough {
  text-decoration-line: line-through;
  text-decoration-style: dashed;
}

#TextoDecoradoInferior {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

#MezclaTextoDecorado {
  text-decoration-line: overline underline;
}

#TextoTransformadoMayuscula {
  text-transform: uppercase;
}

#TextoTransformadoMinuscula {
  text-transform: lowercase;
}

#TextoTransformadoMayusculaYMinuscula {
  text-transform: capitalize;
}

#TextoIdentado {
  border: 2px groove #0000ff;
  text-indent: 5%;
}

#TextoEspaciado {
  border: 2px groove #0000ff;
  letter-spacing: 5px;
}

#TextoEspacioLinea {
  border: 2px groove #0000ff;
  line-height: 200%;
}

#TextoEspacioPalabra {
  border: 2px groove #0000ff;
  word-spacing: 5px;
}

#TextoLinea {
  border: 2px groove #0000ff;
  white-space: wrap;
}

#TextoSombra {
  text-shadow: 2px 2px;
}

#TextoSombraColor {
  text-shadow: 2px 2px #0000ff;
}

#TextoSombraDesenfoque {
  text-shadow: 2px 2px 5px;
}

#TextoSombraDesenfoqueMulticolor {
  text-shadow: 2px 2px 5px #0000ff, 0px 0px 2px #ff0000, 4px 4px 2px #00ff00, 5px 5px 1px #ff00ff;
}

/* Fuentes */
#Fuente1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

#Fuente2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5em;
  /* 40px/16=2.5em */
}

#Fuente3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 5vw;
}

#Fuente4 {
  font-family: cursive;
}

#Fuente5 {
  font-family: fantasy;
}

#FuenteEstiloNormal {
  font-family: "Butcherman", fantasy;
  font-size: 3vh;
  font-style: normal;
  font-weight: 100;
  text-shadow: 0px 0px 3vh #0000ff, 0px 0px 1.5vh #ff0000;
}

#FuenteEstiloItalic {
  font-style: italic;
}

#FuenteEstiloOblique {
  font-style: oblique;
}

#FuenteGruesa {
  font-weight: 800;
}

#FuenteVersalita {
  font-variant: small-caps;
}

/* Íconos */
.material-symbols-outlined {
  color: #0000ff;
  font-variation-settings: "FILL" 0, "GRAD" 10, "opsz" 30, "wght" 900;
}

/* Enlaces */
#Enlace:link {
  background-color: #0000ff;
  border: 2px outset #0000ff;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  padding: 2%;
  text-align: center;
  text-decoration: none;
}

#Enlace:visited {
  background-color: #00ffff;
  color: #ff0000;
}

#Enlace:hover {
  color: #00ffff;
}

#Enlace:active {
  color: #ffff00;
}

#Cursor1 {
  cursor: auto;
}

#Cursor2 {
  cursor: crosshair;
}

#Cursor3 {
  cursor: default;
}

#Cursor4 {
  cursor: e-resize;
}

#Cursor5 {
  cursor: help;
}

#Cursor6 {
  cursor: move;
}

#Cursor7 {
  cursor: n-resize;
}

#Cursor8 {
  cursor: ne-resize;
}

#Cursor9 {
  cursor: nw-resize;
}

#Cursor10 {
  cursor: pointer;
}

#Cursor11 {
  cursor: progress;
}

#Cursor12 {
  cursor: s-resize;
}

#Cursor13 {
  cursor: se-resize;
}

#Cursor14 {
  cursor: sw-resize;
}

#Cursor15 {
  cursor: text;
}

#Cursor16 {
  cursor: w-resize;
}

#Cursor17 {
  cursor: wait;
}

/* Listas */
#ListaDesordenada {
  background-color: #00ff00;
  border: 2px solid #0000ff;
  list-style-position: inside;
  list-style-type: square;
  padding: 1%;
}

#ListaDesordenada li {
  background-color: #00ffff;
}

#ListaImagen {
  border: 2px solid #0000ff;
  list-style-image: url();
  list-style-position: outside;
  margin: 0%;
}

#ListaOrdenada {
  background-color: #ffff00;
  border: 2px solid #0000ff;
  list-style-type: upper-alpha;
}

/* Tabla */
#Tabla {
  overflow: auto;
  width: 100%;
}

table {
  width: 100%;
}

td,
th {
  padding: 0.5%;
}

table,
caption,
td,
th {
  border: 2px solid #0000ff;
  border-collapse: collapse;
  height: 20px;
  text-align: center;
  vertical-align: middle;
}

tr:hover {
  background-color: #00ffff;
}

/* Display */
#ParrafoDeshabilitado {
  border: 2px solid #0000ff;
  display: none;
}

#ParrafoOculto {
  border: 2px solid #0000ff;
  visibility: hidden;
}

/* Max-width */
#ElementoDeBloque {
  border: 2px solid #0000ff;
  margin: auto;
  max-width: 500px;
}

/* Position */
#PosicionAbsolute {
  border: 2px solid #0000ff;
  left: 40%;
  position: absolute;
  width: 20%;
}

#PosicionRelative {
  border: 2px solid #0000ff;
  padding: 1%;
  position: relative;
  top: -25px;
}

#PosicionFixed {
  border: 2px solid #0000ff;
  left: 89%;
  position: fixed;
  top: 95.8%;
  width: 10%;
}

#PosicionStatic {
  border: 2px solid #0000ff;
  padding: 1%;
  position: static;
}

#PosicionSticky {
  background-color: #ffff00;
  border: 2px solid #0000ff;
  padding: 1%;
  position: sticky;
  top: 0%;
}

#PosicionSticky p {
  text-align: center;
}

/* Z-index */
#ImagenSuperpuesta {
  border: 2px solid #0000ff;
  margin: auto;
  position: relative;
  z-index: 1;
}

#ParrafoSuperpuesto {
  background-color: #ffff00;
  display: inline-block;
  left: 185px;
  position: relative;
  top: -135px;
  z-index: 2;
}

/* Overflow */

#OverflowAuto {
  background-color: #ffff00;
  display: inline-block;
  height: 100px;
  overflow: auto;
  width: 250px;
}

#OverflowHidden {
  background-color: #ffff00;
  display: inline-block;
  height: 100px;
  overflow: hidden;
  width: 250px;
}

#OverflowScroll {
  background-color: #ffff00;
  display: inline-block;
  height: 100px;
  overflow: scroll;
  width: 250px;
}

#OverflowVisible {
  background-color: #ffff00;
  display: inline-block;
  height: 100px;
  overflow: visible;
  width: 250px;
}

/* Float */
#FlotarIzquierda {
  background-color: #ffff00;
  float: left;
}

#FlotarDerecha {
  background-color: #ffff00;
  float: right;
}

#FlotarClear {
  clear: left;
}

#ClearFix {
  border: 2px solid #0000ff;
  overflow: auto;
}

#ImagenClearFix {
  float: right;
}

.CajaFlotante {
  border: 2px solid #0000ff;
  box-sizing: border-box;
  float: left;
  margin: 1% 0%;
  padding: 0.5vh;
  width: 25%;
}

.HijaFlexboxFlotante {
  box-sizing: content-box;
  float: none;
  height: 100px;
  margin: 1px;
  width: auto;
}

#FlexboxFlotante {
  align-self: center;
  border: 2px solid #0000ff;
  clear: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1%;
}

#ListaFlotante {
  border: 2px solid #0000ff;
  list-style-type: none;
  margin: 5% auto;
  overflow: hidden;
}

#ListaFlotante li{
  float: left;
  margin: 0% 1% 0% 0%;
}

#ListaFlotante li:hover {
  background-color: #ffff00;
}

/* Inline-block */
#DisplayInline p{
  border: 2px solid #0000ff;
}

#Inline {
  background-color: #ffff00;
  display: inline;
  margin: 5px;
  padding: 5px;
}

#InlineBlock {
  background-color: #ffff00;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

#Block{
  background-color: #ffff00;
  display: block;
  margin: 5px;
  padding: 5px;
}

/* Alineación */
#AlineacionCentro {
  border: 2px solid #0000ff;
  box-sizing: content-box;
  height: 300px;
  margin: 50px auto;
  padding: 30px 0px;
  width: 70%;
}

#AlineacionCentro p {
  text-align: center;
}

#AlineacionCentro img {
  display: block;
  margin: 1px auto 1px auto;
}

#AlineacionFlexbox {
  align-items: center;
  border: 2px solid #0000ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
}

/* Pseudoclases */
#PseudoclaseHover {
  background-color: #ffff00;
  border: 2px solid #0000ff;
  margin: auto;
  width: 50%;
}

#PseudoclaseHover p {
  text-align: center;
}

#PseudoclaseHover:hover {
  background-color: #0000ff;
  border: 2px solid #ffff00;
  color: #ffffff;
}

#PseudoclaseFirstChild {
  background-color: #ffff00;
  border: 2px solid #0000ff;
  margin: auto;
  width: 50%;
}

#PseudoclaseFirstChild p {
  text-align: center;
}

#PseudoclaseFirstChild q:first-child {
  background-color: #0000ff;
  border: 2px solid #ffff00;
  color: #ffffff;
}

/* Pseudoeleentos */
#PseudoElementoFirstLine::first-line {
  background-color: #ffff00;
}

#PseudoElementoFirstLine::first-letter {
  background-color: #0000ff;
  color: #ffffff;
  font-size: 30px;
}

#PseudoElementoFirstLine::before {
  content: url();
}

#PseudoElementoMarker li::marker {
  color: #00ffff;
  font-size: 12px;
}

::selection {
  background-color: #ffff00;
  color: #0000ff;
}