/* Selectores */
* {
  /* Global */
  font-family: Arial;
  /* Fuente */
}

body {
  /* Etiqueta */
  counter-reset: Contador;
  /* Crear/Iniciar/Reiniciar contador */
}

.Titulo {
  /* Clase */
  color: #000000;
  /* Color de texto */
  text-align: center;
  /* Alineación de texto */
  text-transform: uppercase;
  /* Transformación de texto */
}

.FondoSeccion {
  /* Clase */
  border: 2px solid #000000;
  /* Borde abreviado width, style y color */
}

div {
  /* Etiqueta */
  background-color: #e1e1e1;
  /* Color de fondo */
  height: 100px;
  /* Alto */
  margin: 1% auto;
  /* Margen superior/inferior y derecha/izquierda */
  width: 90%;
  /* Ancho */
}

div.IdentificadorCompartidoSelector {
  /* Etiqueta con clase */
  background-color: #afafaf;
}

div,
div,
div {
  /* Multiple selección */
  background-color: #9b9b9b;
  /* Color de fondo */
}

.IdentificadorClaseSelector {
  /* Clase */
  background-color: #e1e1e1;
  /* Color de fondo */
}

#IdentificadorIdSelector {
  /* Id */
  background-color: #afafaf;
  /* Color de fondo */
}

.IdentificadorExtraSelector {
  /* Identificador extra */
  background-color: #9b9b9b;
  /* Color de fondo */
}

/* Contadores */
.Titulo::before {
  /* Etiqueta antes */
  counter-increment: Contador;
  /* Incrementar contador */
  content: counter(Contador) ". ";
  /* Contenido */
}

/*Colores*/
#PredefinidoColor {
  /* Id */
  background-color: gainsboro;
  /* Color de fondo */
  border: 2px solid black;
  /* Borde abreviado width, style y color */
  color: grey;
  /* Color de letra */
}

#FondoColor {
  /* Id */
  background-color: #e1e1e1;
  /* Color de fondo */
}

#LetraColor {
  /* Id */
  color: #e1e1e1;
  /* Color de letra */
}

#BordeColor {
  /* Id */
  border: 2px solid #000000;
  /* Borde abreviado width, style, color */
}

#HwbColor {
  /* Id */
  background-color: hwb(0 88% 12%);
  /* Color de fondo */
}

#RgbaColor {
  /* Id */
  background-color: rgba(225, 225, 225, 1);
  /* Color de fondo */
}

#HslaColor {
  /* Id */
  background-color: hsla(0, 0%, 88%, 1);
  /* Color de fondo */
}

/*Fondo*/
#Fondo {
  /* Id */
  background-attachment: scroll;
  /* Desplazamiento de fondo */
  background-image: url(../Img/CSS.png);
  /* Imagen de fondo */
  background-repeat: no-repeat;
  /* Repetición imagen de fondo */
  background-position: center;
  /* Posición imagen de fondo */
  background-size: contain;
  /* Tamaño imagen de fondo */
}

#ColorFondo {
  /* Id */
  background-color: #afafaf;
  /* Color de fondo */
}

#ColorFondoOpacidad {
  /* Id */
  background-color: #afafaf;
  /* Color de fondo */
  opacity: 50%;
  /* Opacidad */
}

#ColorFondoOpaco {
  /* Id */
  background-color: #afafaf83;
  /* Color de fondo */
}

/* Bordes */
#DottedBorde {
  /* Id */
  border-style: dotted;
  /* Estilo borde */
  border-width: thick;
  /* Grosor borde */
}

#DashedBorde {
  /* Id */
  border-style: dashed;
  /* Estilo borde */
  border-width: thin medium thick 2px;
  /* Grosor borde superior, derecho, inferior e izquierdo */
}

#SolidBorde {
  /* Id */
  border-color: #000000;
  /* Color borde */
  border-style: solid;
  /* Estilo borde */
}

#DoubleBorde {
  /* Id */
  border-color: #000000 #e1e1e1 #afafaf #9b9b9b;
  /* Color borde superior, derecho, inferior e izquierdo */
  border-style: double;
  /* Estilo borde */
}

#GrooveBorde {
  /* Id */
  border-radius: 25px;
  /* Esquina borde */
  border-style: groove;
  /* Estilo borde */
}

#RidgeBorde {
  /* Id */
  border-style: ridge;
  /* Estilo borde */
}

#InsetBorde {
  /* Id */
  border-style: inset;
  /* Estilo borde */
}

#OutsetBorde {
  /* Id */
  border-style: outset;
  /* Estilo borde */
}

#NoneBorde {
  /* Id */
  border-style: none;
  /* Estilo borde */
}

#HiddenBorde {
  /* Id */
  border-style: hidden;
  /* Estilo borde */
}

#MezclaBorde {
  /* Id */
  border-style: dotted dashed solid double;
  /* Estilo borde superior, derecho, inferior e izquierdo */
}

/* Margen */
#DefinidaMargen {
  /* Id */
  margin: 1% 10% 1% 0%;
  /* Margen superior, derecha, inferior e izquierda */
}

#HeredadaMargen {
  /* Id */
  margin: 1% 0% 1% 10%;
  /* Margen superior, derecha, inferior e izquierda */
}

#HeredadaMargen p {
  /* Etiqueta dentro del Id */
  background-color: #afafaf;
  margin: inherit;
  /* Margen heredada */
}

#AutomaticaMargen {
  /* Id */
  margin: 1% auto;
  /* Margen automático para centrar */
}

/* Padding */
#DefinidoPadding {
  /* Id */
  padding: 1% 0% 1% 10%;
  /* Relleno superior, derecho, inferior e izquierdo */
}

#HeredadoPadding {
  /* Id */
  padding: 1% 0% 1% 10%;
  /* Relleno superior, derecho, inferior e izquierdo */
}

#HeredadoPadding p {
  /* Etiqueta dentro del Id */
  background-color: #afafaf;
  /* Color de fondo */
  padding: inherit;
  /* Relleno heredado */
}

#BoxSizingPadding {
  /* Id */
  box-sizing: border-box;
  /* Tamaño */
  padding: 1% 0% 1% 10%;
  /* Relleno superior, derecho, inferior e izquierdo */
}

/* Altura y anchura */
#AlturaYAnchura {
  /* Id */
  height: 100px;
  /* Altura */
  width: 75%;
  /* Anchura */
}

#HeredadaAlturaYAnchura {
  /* Id */
  height: 100px;
  /* Altura */
  width: 75%;
  /* Anchura */
}

#HeredadaAlturaYAnchura p {
  /* Etiqueta dentro del Id */
  background-color: #afafaf;
  /* Color de fondo */
  height: inherit;
  /* Altura */
  width: inherit;
  /* Anchura */
}

#MaximaAlturaYAnchura {
  /* Id */
  max-height: 100px;
  /* Altura máxima */
  max-width: 75%;
  /* Anchura máxima */
}

/* Modelo de caja */
#ModeloDeCaja {
  /* Id */
  background-color: #9b9b9b;
  /* Color de fondo */
  background-clip: content-box;
  /* Posición del fondo */
  border: 5px solid #000000;
  /* Borde abreviado width. style y color */
  outline: thick solid #9b9b9b;
  /* Remarcado abreviado width, style y color */
  padding: 5px;
  /* Relleno */
}

/* Outline */
#DottedOutline {
  /* Id */
  outline-style: dotted;
  /* Estilo remarcado */
  outline-width: thin;
  /* Grosor remarcado */
}

#DashedOutline {
  /* Id */
  outline-style: dashed;
  /* Estilo remarcado */
  outline-width: medium;
  /* Grosor remarcado */
}

#SolidOutline {
  /* Id */
  outline-style: solid;
  /* Estilo remarcado */
  outline-width: thick;
  /* Grosor remarcado */
}

#DoubleOutline {
  /* Id */
  outline-color: #000000;
  /* Color remarcado */
  outline-style: double;
  /* Estilo remarcado */
}

#GrooveOutline {
  /* Id */
  outline-offset: 2px;
  /* Separación remarcado */
  outline-style: groove;
  /* Estilo remarcado */
}

#RidgeOutline {
  /* Id */
  outline-style: ridge;
  /* Estilo remarcado */
}

#InsetOutline {
  /* Id */
  outline-style: inset;
  /* Estilo remarcado */
}

#OutsetOutline {
  /* Id */
  outline-style: outset;
  /* Estilo remarcado */
}

#NoneOutline {
  /* Id */
  outline-style: none;
  /* Estilo remarcado */
}

#HiddenOutline {
  /* Id */
  outline-style: hidden;
  /* Estilo remarcado */
}

/* Texto */
#TituloConEstilo {
  /* Id */
  color: #0000ff;
  /* Color de texto */
}

#CentroTexto {
  /* Id */
  text-align: center;
  /* Alineación de texto */
}

#DerechaTexto {
  /* Id */
  text-align: right;
  /* Alineación de texto */
}

#IzquierdaTexto {
  /* Id */
  text-align: left;
  /* Alineación de texto */
}

#JustificadoTexto {
  /* Id */
  text-align: justify;
  /* Alineación de texto */
}

#FinalCentroTexto {
  /* Id */
  text-align: left;
  /* Alineación de texto */
  text-align-last: center;
  /* Alineación última línea */
}

#FinalDerechaTexto {
  /* Id */
  text-align: left;
  /* Alineación de texto */
  text-align-last: right;
  /* Alineación última línea */
}

#FinalJustificadoTexto {
  /* Id */
  text-align: left;
  /* Alineación de texto */
  text-align-last: justify;
  /* Alineación última línea */
}

#DireccionadoTexto {
  /* Id */
  direction: rtl;
  /* Dirección (Right to left) */
  unicode-bidi: bidi-override;
  /* Dirección de escritura */
}

.AlineadoTexto {
  /* Clase */
  font-size: 25px;
  /* Tamaño de fuente */
}

#ImagenBaseTexto {
  /* Id */
  vertical-align: baseline;
  /* Alienación vertical en línea */
}

#ImagenSuperiorTexto {
  /* Id */
  vertical-align: text-top;
  /* Alienación vertical en línea */
}

#ImagenInferiorTexto {
  /* Id */
  vertical-align: text-bottom;
  /* Alienación vertical en línea */
}

#ImagenSubTexto {
  /* Id */
  vertical-align: sub;
  /* Alienación vertical en línea */
}

#ImagenSupTexto {
  /* Id */
  vertical-align: super;
  /* Alienación vertical en línea */
}

#DecoradoSuperiorTexto {
  /* Id */
  text-decoration-line: overline;
  /* Decoración de texto */
  text-decoration-color: #000000;
  /* Color de decoración */
}

#DecoradoLineThroughTexto {
  /* Id */
  text-decoration-line: line-through;
  /* Decoración de texto */
  text-decoration-style: solid;
  /* Estilo de decoración */
}

#DecoradoInferiorTexto {
  /* Id */
  text-decoration-line: underline;
  /* Decoración de texto */
  text-decoration-thickness: 2px;
  /* Grosor de decoración */
}

#MezclaDecoradoTexto {
  /* Id */
  text-decoration-line: overline underline;
  /* Decoración múltiple */
}

#TransformadoMayusculaTexto {
  /* Id */
  text-transform: uppercase;
  /* Transformación de texto */
}

#TransformadoMinusculaTexto {
  /* Id */
  text-transform: lowercase;
  /* Transformación de texto */
}

#TransformadoMayusculaYMinusculaTexto {
  /* Id */
  text-transform: capitalize;
  /* Transformación de texto */
}

#IdentadoTexto {
  /* Id */
  text-indent: 5%;
  /* Identación de texto */
}

#EspaciadoTexto {
  /* Id */
  letter-spacing: 5px;
  /* Espaciado de texto */
}

#EspacioLineaTexto {
  /* Id */
  line-height: 200%;
  /* Espaciado de línea */
}

#EspacioPalabraTexto {
  /* Id */
  word-spacing: 5px;
  /* Espaciado de palabra */
}

#LineaTexto {
  /* Id */
  white-space: wrap;
  /* Continuidad de línea */
}

#SombraTexto {
  /* Id */
  text-shadow: 2px 2px;
  /* Sombra de texto superior y derecha */
}

#SombraColorTexto {
  /* Id */
  text-shadow: 2px 2px #000000;
  /* Sombra de texto superior, derecha y color */
}

#SombraDesenfoqueTexto {
  /* Id */
  text-shadow: 2px 2px 5px;
  /* Sombra de texto superior, derecha y desenfoque */
}

#SombraDesenfoqueMulticolorTexto {
  /* Id */
  text-shadow: 2px 2px 5px #0000ff, 0px 0px 2px #ff0000, 4px 4px 2px #00ff00, 5px 5px 1px #ff00ff;
  /* Sombra múltiple de texto superior, derecha, desenfoque y color */
}

/* Fuentes */
#SerifFuente {
  /* Id */
  font-family: "Times New Roman", serif;
  /* Fuente */
}

#SansSerifFuente {
  /* Id */
  font-family: "Franklin Gothic Medium", sans-serif;
  /* Fuente */
}

#MonoespaceFuente {
  /* Id */
  font-family: "Courier New", monospace;
  /* Fuente */
}

#CursiveFuente {
  /* Id */
  font-family: cursive;
  /* Fuente */
}

#FantasyFuente {
  /* Id */
  font-family: fantasy;
  /* Fuente */
}

#NormalFuente {
  /* Id */
  font-family: Arial;
  /* Fuente */
}

#ItalicFuente {
  /* Id */
  font-style: italic;
  /* Estilo de fuente */
}

#ObliqueFuente {
  /* Id */
  font-style: oblique;
  /* Estilo de fuente */
}

#GruesaFuente {
  /* Id */
  font-weight: 800;
  /* Grosor de fuente */
}

#VersalitaFuente {
  /* Id */
  font-variant: small-caps;
  /* Variante de fuente */
}

/* Íconos */
.material-symbols-outlined {
  /* Clase */
  color: #000000;
  /* Color de texto */
  font-variation-settings: "FILL" 0, "GRAD" 10, "opsz" 30, "wght" 900;
  /* Propiedades de ícono */
}

/* Enlaces y cursores */
#Enlace:link {
  /* Id no visitado */
  background-color: #ffffff;
  /* Color de fondo */
  border: 2px solid #000000;
  /* Borde abreviado width, style color */
  color: #000000;
  /* Color de texto */
  display: inline-block;
  /* Tipo de pantalla */
  padding: 1%;
  /* Relleno */
  text-align: center;
  /* Alineación de texto */
  text-decoration: none;
  /* Decoración de texto */
}

#Enlace:visited {
  /* Id visidato */
  background-color: #e1e1e1;
  /* Color de fondo */
  color: #000000;
  /* Color de texto */
}

#Enlace:hover {
  /* Id con cursor sobre */
  background-color: #afafaf;
  /* Color de fondo */
}

#Enlace:active {
  /* Id con click activo */
  background-color: #919191;
  /* Color de fondo */
}

#Cursor1 {
  /* Id */
  cursor: auto;
  /* Tipo de cursor */
}

#Cursor2 {
  /* Id */
  cursor: crosshair;
  /* Tipo de cursor */
}

#Cursor3 {
  /* Id */
  cursor: default;
  /* Tipo de cursor */
}

#Cursor4 {
  /* Id */
  cursor: e-resize;
  /* Tipo de cursor */
}

#Cursor5 {
  /* Id */
  cursor: help;
  /* Tipo de cursor */
}

#Cursor6 {
  /* Id */
  cursor: move;
  /* Tipo de cursor */
}

#Cursor7 {
  /* Id */
  cursor: n-resize;
  /* Tipo de cursor */
}

#Cursor8 {
  /* Id */
  cursor: ne-resize;
  /* Tipo de cursor */
}

#Cursor9 {
  /* Id */
  cursor: nw-resize;
  /* Tipo de cursor */
}

#Cursor10 {
  /* Id */
  cursor: pointer;
  /* Tipo de cursor */
}

#Cursor11 {
  /* Id */
  cursor: progress;
  /* Tipo de cursor */
}

#Cursor12 {
  /* Id */
  cursor: s-resize;
  /* Tipo de cursor */
}

#Cursor13 {
  /* Id */
  cursor: se-resize;
  /* Tipo de cursor */
}

#Cursor14 {
  /* Id */
  cursor: sw-resize;
  /* Tipo de cursor */
}

#Cursor15 {
  /* Id */
  cursor: text;
  /* Tipo de cursor */
}

#Cursor16 {
  /* Id */
  cursor: w-resize;
  /* Tipo de cursor */
}

#Cursor17 {
  /* Id */
  cursor: wait;
  /* Tipo de cursor */
}

/* Listas */
#DesordenadaLista { /* Id */
  background-color: #e1e1e1; /* Color de fondo */
  list-style-position: inside; /* Posición de aristas */
  list-style-type: square; /* Estilo de aristas */
  padding: 1%; /* Relleno */
}

#DesordenadaLista li { /* Etiqueta dentro del Id */
  background-color: #afafaf; /* Color de fondo */
}

#ImagenLista { /* Id */
  border: 2px solid #000000; /* Borde abreviado width, style y color */
  list-style-image: url(); /* Imagen de arista */
  list-style-position: outside; /* Posición de aristas */
}

#OrdenadaLista { /* Id */
  background-color: #e1e1e1; /* Color de fondo */
  list-style-type: upper-alpha; /* Estilo de aristas */
}

/* Tabla */
#Tabla { /* Id */
  overflow: auto; /* Exceso*/
  width: 100%; /* Ancho */
}

table { /* Etiqueta */
  width: 100%; /* Anchura */
}

td,
th { /* Múltiple selección */
  padding: 0.5%; /* Relleno */
}

table,
caption,
td,
th { /* Múltiple selección */
  border: 2px solid #000000; /* Borde abreviado width, style y color */
  border-collapse: collapse; /* Límites de bordes */
  height: 20px; /* Altura */
  text-align: center; /* Alineación de texto */
  vertical-align: middle; /* Alineación vertical en línea */
}

tr:hover { /* Etiqueta con cursor sobre */
  background-color: #afafaf; /* Color de fondo */
}

/* Display */
#ParrafoDeshabilitado {
  border: 2px solid #0000ff;
  display: none;
}

#ParrafoOculto {
  border: 2px solid #0000ff;
  visibility: hidden;
}

/* Max-width */
#ElementoDeBloque {
  border: 2px solid #0000ff;
  margin: auto;
  max-width: 500px;
}

/* Position */
#PosicionAbsolute {
  border: 2px solid #0000ff;
  left: 40%;
  position: absolute;
  width: 20%;
}

#PosicionRelative {
  border: 2px solid #0000ff;
  padding: 1%;
  position: relative;
  top: -25px;
}

#PosicionFixed {
  border: 2px solid #0000ff;
  left: 89%;
  position: fixed;
  top: 95.8%;
  width: 10%;
}

#PosicionStatic {
  border: 2px solid #0000ff;
  padding: 1%;
  position: static;
}

#PosicionSticky {
  background-color: #ffff00;
  border: 2px solid #0000ff;
  padding: 1%;
  position: sticky;
  top: 0%;
}

#PosicionSticky p {
  text-align: center;
}

/* Z-index */
#ImagenSuperpuesta {
  border: 2px solid #0000ff;
  margin: auto;
  position: relative;
  z-index: 1;
}

#ParrafoSuperpuesto {
  background-color: #ffff00;
  display: inline-block;
  left: 185px;
  position: relative;
  top: -135px;
  z-index: 2;
}

/* Overflow */

#OverflowAuto {
  background-color: #ffff00;
  display: inline-block;
  height: 100px;
  overflow: auto;
  width: 250px;
}

#OverflowHidden {
  background-color: #ffff00;
  display: inline-block;
  height: 100px;
  overflow: hidden;
  width: 250px;
}

#OverflowScroll {
  background-color: #ffff00;
  display: inline-block;
  height: 100px;
  overflow: scroll;
  width: 250px;
}

#OverflowVisible {
  background-color: #ffff00;
  display: inline-block;
  height: 100px;
  overflow: visible;
  width: 250px;
}

/* Float */
#FlotarIzquierda {
  background-color: #ffff00;
  float: left;
}

#FlotarDerecha {
  background-color: #ffff00;
  float: right;
}

#FlotarClear {
  clear: left;
}

#ClearFix {
  border: 2px solid #0000ff;
  overflow: auto;
}

#ImagenClearFix {
  float: right;
}

.CajaFlotante {
  border: 2px solid #0000ff;
  box-sizing: border-box;
  float: left;
  margin: 1% 0%;
  padding: 0.5vh;
  width: 25%;
}

.HijaFlexboxFlotante {
  box-sizing: content-box;
  float: none;
  height: 100px;
  margin: 1px;
  width: auto;
}

#FlexboxFlotante {
  align-self: center;
  border: 2px solid #0000ff;
  clear: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1%;
}

#ListaFlotante {
  border: 2px solid #0000ff;
  list-style-type: none;
  margin: 5% auto;
  overflow: hidden;
}

#ListaFlotante li {
  float: left;
  margin: 0% 1% 0% 0%;
}

#ListaFlotante li:hover {
  background-color: #ffff00;
}

/* Inline-block */
#DisplayInline p {
  border: 2px solid #0000ff;
}

#Inline {
  background-color: #ffff00;
  display: inline;
  margin: 5px;
  padding: 5px;
}

#InlineBlock {
  background-color: #ffff00;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

#Block {
  background-color: #ffff00;
  display: block;
  margin: 5px;
  padding: 5px;
}

/* Alineación */
#AlineacionCentro {
  border: 2px solid #0000ff;
  box-sizing: content-box;
  height: 300px;
  margin: 50px auto;
  padding: 30px 0px;
  width: 70%;
}

#AlineacionCentro p {
  text-align: center;
}

#AlineacionCentro img {
  display: block;
  margin: 1px auto 1px auto;
}

#AlineacionFlexbox {
  align-items: center;
  border: 2px solid #0000ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
}

/* Pseudoclases */
#PseudoclaseHover {
  background-color: #ffff00;
  border: 2px solid #0000ff;
  margin: auto;
  width: 50%;
}

#PseudoclaseHover p {
  text-align: center;
}

#PseudoclaseHover:hover {
  background-color: #0000ff;
  border: 2px solid #ffff00;
  color: #ffffff;
}

#PseudoclaseFirstChild {
  background-color: #ffff00;
  border: 2px solid #0000ff;
  margin: auto;
  width: 50%;
}

#PseudoclaseFirstChild p {
  text-align: center;
}

#PseudoclaseFirstChild q:first-child {
  background-color: #0000ff;
  border: 2px solid #ffff00;
  color: #ffffff;
}

/* Pseudoeleentos */
#PseudoElementoFirstLine::first-line {
  background-color: #ffff00;
}

#PseudoElementoFirstLine::first-letter {
  background-color: #0000ff;
  color: #ffffff;
  font-size: 30px;
}

#PseudoElementoFirstLine::before {
  content: url();
}

#PseudoElementoMarker li::marker {
  color: #00ffff;
  font-size: 12px;
}

::selection {
  background-color: #ffff00;
  color: #0000ff;
}

/* Opacidad*/
#ImagenOpaca {
  display: block;
  margin: auto;
  opacity: 0.25;
}

#ImagenOpaca:hover {
  opacity: 1;
}

/* Barra de navegación */
#BarraDeNavegacionSimple {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

#BarraDeNavegacionVertical {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

#BarraDeNavegacionVertical li {
  background-color: #bebebe;
  box-sizing: border-box;
  display: block;
  width: 35%;
}

#BarraDeNavegacionVertical li:hover {
  background-color: #ffffff;
}

#BarraDeNavegacionHorizontal {
  background-color: #bebebe;
  display: block;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  overflow: hidden;
  padding: 0%;
}

#BarraDeNavegacionHorizontal li {
  background-color: #ffffff;
  box-sizing: border-box;
  display: block;
  float: left;
  font-size: 12px;
}

#BarraDeNavegacionHorizontal li:hover {
  background-color: #bebebe;
}

/* Menú desplegable */
#Menu {
  background-color: #bebebe;
  display: inline-block;
  position: relative;
}

#Desplegable {
  background-color: #ffffff;
  border: 2px solid #bebebe;
  box-shadow: -2px -2px 10px #bebebe;
  display: none;
  left: 10%;
  padding: 0% 5%;
  position: absolute;
}

#Menu:hover #Desplegable {
  display: block;
}

/* Galería de imágenes */

.Galeria {
  background-color: #bebebe;
  display: inline-block;
  margin: auto;
  padding: 1%;
}

.Galeria p {
  text-align: center;
}

/* Sprites de imágenes */
/* Selectores de atributos */

a[target] {
  background-color: #bebebe;
}

a[target="_top"] {
  background-color: #ff00ff;
}

a[href~="##"] {
  border: 2px solid #0000ff;
}

a[href|="###"] {
  border: 2px solid #ff00ff;
}

a[href^="#°"] {
  border: 2px solid #00ffff;
}

a[href$="#°"] {
  border: 2px solid #feafea;
}

a[href*="*"] {
  background-color: #ffff00;
}

/* Formulario */
form {
  background-color: #bebebe;
  display: block;
  margin: 1% auto;
  padding: 1%;
  width: 90%;
}

input {
  display: block;
  box-sizing: border-box;
  margin: auto;
  padding: 5px;
  width: 90%;
}

input:focus {
  border-radius: 5px;
  border-style: solid;
  box-shadow: 0px 0px 10px #0000ff;
  outline: 2px solid #0000ff55;
}

select {
  display: block;
  box-sizing: border-box;
  margin: auto;
  padding: 5px;
  width: 90%;
}

select:focus {
  border-radius: 5px;
  border-style: solid;
  box-shadow: 0px 0px 10px #0000ff;
  outline: 2px solid #0000ff55;
}

#Casilla1 {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #0000ff;
}

#Casilla2 {
  background-image: url(../Img/CSS.png);
  background-position: 0px 1px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 25px;
}

#Casilla4 {
  width: 25%;
  transition: width 0.5s ease-in-out;
}

#Casilla4:focus {
  width: 90%;
}

textarea {
  resize: none;
}

/* !Important */

textarea {
  resize: horizontal !important;
}

/* Matemáticas */
#Calculo {
  background-color: #ffff00;
  height: 50px;
  width: calc(100% - 300px);
}

#Max {
  background-color: #ff00ff;
  height: 50px;
  width: max(50%, 300px);
}

#Min {
  background-color: #00ffff;
  height: 50px;
  width: min(50%, 300px);
}

/* Esquinas redondeadad */
#EsquinasRedondeadas {
  border: 2px solid #0000ff;
  border-radius: 25px 15px 0px 50px;
  height: 50px;
  margin: auto;
  width: max(50%, 300px);
}

/* Imagen de borde */
#ImagenDeBorde {
  background-color: #bebebe;
  border: 2px solid #0000ff;
  border-image: url(../Img/CSS.png) 30 stretch;
  border-radius: 10px;
  height: 50px;
  margin: 1% auto;
  width: max(50%, 300px);
}

/* Multiples fondos */
#MultipleImagenDeFondo {
  background-image: url(../Img/CSS.png), url(../Img/MapaCSS.png);
  background-origin: padding-box;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 100% 100%;
  border: 2px solid #0000ff;
  height: 100px;
  margin: 1% auto;
  object-fit: contain;
  padding: 2%;
  width: max(70%, 300px);
}

#Clip {
  background-clip: content-box;
  background-color: #ffff00;
  border: 5px solid #0000ff;
  box-sizing: border-box;
  height: 100px;
  margin: 1% auto;
  padding: 2%;
  width: max(70%, 300px);
}

/* Palabras clave */
#Transparent {
  background-color: transparent;
  border: 2px solid currentColor;
  height: 50%;
  margin: auto;
  outline: 2px solid inherit;
  width: 50%;
}

/* Degradados */
#DegradadoLineal {
  background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
  height: 100px;
  margin: 1% auto;
  width: 90%;
}

#DegradadoLinealDiagonal {
  background: linear-gradient(to right bottom, #ff0000, #00ff00, #0000ff);
  height: 100px;
  margin: 1% auto;
  width: 90%;
}

#DegradadoRadial {
  background: radial-gradient(ellipse, #ff0000, #00ff00, #0000ff);
  height: 100px;
  margin: 1% auto;
  width: 90%;
}

#DegradadoConico {
  background: conic-gradient(#ff0000, #00ff00, #0000ff);
  height: 100px;
  margin: 1% auto;
  width: 90%;
}

#DegradadoConicoConGrados {
  background: conic-gradient(#ff0000 1deg, #00ff00 90deg, #0000ff 180deg, #ff0000 350deg);
  height: 100px;
  margin: 1% auto;
  width: 90%;
}

#DegradadoConicoConGradoInicial {
  background: conic-gradient(from 90deg, #ff0000 1deg, #00ff00 90deg, #0000ff 180deg, #ff0000 350deg);
  height: 100px;
  margin: 1% auto;
  width: 90%;
}

#DegradadoConicoConCentro {
  background: conic-gradient(at 5% 90%, #ff0000 1deg, #00ff00 90deg, #0000ff 180deg, #ff0000 350deg);
  height: 100px;
  margin: 1% auto;
  width: 90%;
}

#DegradadoRepetido {
  background: repeating-conic-gradient(#ff0000 5% 45deg, #00ff00 10% 90deg, #0000ff 15% 135deg);
  border-radius: 50%;
  height: 100px;
  margin: 1% auto;
  width: 20%;
}

/* Sombras */
#SombraTexto {
  text-shadow: -5px -5px 5px #00ff00, 0px 0px 5px #0000ff, 5px 5px 5px #ff0000;
}

#SombraCaja {
  background-color: #ffff00;
  box-shadow: -5px -5px 10px 5px #00ff00 inset, 0px 0px 10px 15px #0000ff, 5px 5px 10px 15px #ff0000;
  height: 100px;
  margin: 5% auto;
  width: max(50%, 300px);
}

/* Efectos de texto */

#TextoOculto {
  border: 2px solid #0000ff;
  margin: 5% auto;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  width: 80%;
}

#TextoSuspensivo {
  border: 2px solid #0000ff;
  margin: 5% auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

#TextoSuspensivo:hover {
  overflow: visible;
  white-space: wrap;
}

#TextoLargo {
  border: 2px solid #0000ff;
  white-space: wrap;
  width: 50px;
  word-wrap: break-word;
}

#TextoSaltoDeLineaKeep {
  border: 2px solid #0000ff;
  width: 70%;
  word-break: keep-all;
}

#TextoSaltoDeLineaBreak {
  border: 2px solid #0000ff;
  width: 70%;
  word-break: break-all;
}

#TextoDisposicion {
  border: 2px solid #0000ff;
  writing-mode: vertical-lr;
}

/* Transformaciones */
.Transformacion {
  border: 2px solid #0000ff;
  height: 50px;
  margin: 1% auto;
  width: max(50%, 300px);
}

.Transformacion p {
  text-align: center;
}

#Transladar {
  transform: translate(50px, -10px);
}

#Rotar {
  transform: rotate(5deg);
}

#Escalar {
  transform: scale(150%, 50%);
}

#Sesgo {
  transform: skew(25deg, 2deg);
}

#Matriz {
  transform: matrix(1.5, 0.05, 0.5, 0.7, 20, -12);
}

#Rotar3D {
  transform: rotateX(50deg);
  transform: rotateY(100deg);
}

/* Transiciones */
#Transicion1 {
  border: 2px solid #0000ff;
  height: 100px;
  margin: 1% auto;
  transition: all 0.5s;
  transition-delay: 0.25s;
  transition-timing-function: ease-out;
  width: 50%;
}

#Transicion1:hover {
  transform: rotate(12deg);
  width: 75%;
}

/* Animaciones */
@keyframes Fondo {

  0% {
    transform: translate(-30px, 43px);
  }

  50% {
    transform: translate(0px, -30px);
  }

  100% {
    transform: translate(30px, 30px);
  }
}

#Animacion1 {
  animation-direction: alternate;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: Fondo;
  animation-timing-function: linear;
  border: 2px solid #0000ff;
  border-radius: 50%;
  color: #000000;
  height: 100px;
  margin: 1% auto;
  position: relative;
  width: 50%;
}

#Animacion1 p {
  text-align: center;
}

#AnimacionAbreviada {
  animation: Fondo 1s linear 0s infinite alternate both;
  border: 2px solid #0000ff;
  border-radius: 50%;
  color: #000000;
  height: 100px;
  margin: 1% auto;
  position: relative;
  width: 50%;
}

/* Estilo de imágenes */
#ImagenEstilizada {
  -webkit-box-reflect: right 5% linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  border: 5px outset;
  border-radius: 25px;
  display: block;
  filter: grayscale(100%);
  margin: 1% 5%;
  outline: 0px solid #dddddd;
  transition: outline 0.5s ease-out;
}

#ImagenEstilizada:hover {
  filter: grayscale(0%);
  outline: 10px solid #dddddd;
}

/* Object-fit */
#ObjectFitFill {
  object-fit: fill;
}

#ObjectFitContain {
  object-fit: contain;
}

#ObjectFitCover {
  object-fit: cover;
}

#ObjectFitNone {
  object-fit: none;
}

#ObjectFitScaleDown {
  object-fit: scale-down;
}

/* Object-position */

#ObjectPosition {
  object-fit: cover;
  object-position: 0% 0%;
}

/* Enmascaramiento */
#Enmascaramiento {
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  font-size: 100px;
  font-weight: 900;
  text-align: center;
}

/* Botones */

#BotonFondo {
  background-color: #ffff00;
}

#BotonFuente {
  font-size: 15px;
}

#BotonRelleno {
  padding: 1%;
}

#BotonEsquina {
  border-radius: 25px;
}

#BotonBorde {
  border: 2px solid #0000ff;
}

#BotonSeleccion {
  transition: all 0.5s ease-in-out;
}

#BotonSeleccion:hover {
  background-color: #0000ff;
  color: #ffffff;
}

#BotonSombra {
  box-shadow: 0px 0px 10px #000000;
}

#BotonDeshabilitado {
  cursor: not-allowed;
  opacity: 50%;
}

#BotonAncho {
  margin-left: 1%;
  width: 100px;
}

.BotonGrupo {
  background-color: #ffff00;
  border-bottom: 2px outset #0000ff;
  border-left: none;
  border-right: none;
  border-top: 2px outset #0000ff;
  float: left;
  margin: 0%;
}

#BotonAnimado {
  transition: transform 2s linear;
}

#BotonAnimado:hover {
  transform: rotateY(360deg);
}

/* Paginación */
#Paginacion {
  display: block;
  margin: 1% auto;
  text-align: center;
}

#Paginacion a {
  background-color: #dddddd;
  color: #000000;
  display: inline;
  padding: 1%;
  margin: -0.5%;
  text-decoration: none;
  transition: Background-color 0.5s ease-in-out;
}

#Paginacion :first-child {
  background-color: #bebebe;
  border-radius: 25px 0px 0px 25px;
}

#Paginacion :last-child {
  background-color: #bebebe;
  border-radius: 0px 25px 25px 0px;
}

#Paginacion a:hover {
  background-color: #ffff00;
}

/* Columnas */
#Columnas {
  border: 2px solid #0000ff;
  column-count: 3;
  column-gap: 5px;
  column-rule: 2px solid #0000ff;
  column-width: 25px;
  height: 100px;
  margin: 1% auto;
  overflow: hidden;
  width: 90%;
}

#Columnas h6 {
  column-span: all;
}

#Columnas p {
  white-space: wrap;
  text-overflow: ellipsis;
}

/* Variables */
:root {
  --Alto: 100px;
  --Ancho: 90%;
  --Borde: 2px solid #0000ff;
  --Fondo: #ffff00;
  --Margen: 1% auto;
}

#Variable {
  border: var(--Borde);
  height: var(--Alto);
  margin: var(--Margen);
  width: var(--Ancho);
}

#VariableLocal {
  --BordeLocal: 2px solid #ff0000;
  border: var(--BordeLocal);
  height: var(--Alto);
  margin: var(--Margen);
  width: var(--Ancho);
}

#VariableJS {
  background-color: var(--Fondo);
  border: var(--Borde);
  height: var(--Alto);
  margin: var(--Margen);
  width: var(--Ancho);
}

#VariableConsulta {
  border: var(--Borde);
  height: var(--Alto);
  margin: var(--Margen);
  width: var(--Ancho);
}

#VariableConsulta p {
  --Letra: 30px;
  font-size: var(--Letra);
}

@media (max-width:450px) {

  :root {
    --Fondo: #00ffff;
  }

  #VariableConsulta p {
    --Letra: 15px;
  }
}

/* Box-sizing */
.CajaPredeterminada {
  border: var(--Borde);
  height: var(--Alto);
  margin: var(--Margen);
  width: var(--Ancho);
}

#BorderBox,
#ContentBox {
  padding: 5px;
}

#BorderBox {
  box-sizing: border-box;
}

#ContentBox {
  box-sizing: content-box;
}

/* MediaQuery */
@media screen and (min-width:500px) {
  #MediaQuery {
    --Borde500px: 2px solid #00ff00;
    border: var(--Borde500px);
  }
}

@media only screen and (orientation: landscape) {
  #MediaQuery {
    background-color: var(--Fondo);
  }
}

/* Flexbox */
#CajaFlexible {
  align-content: space-around;
  align-items: stretch;
  background-color: var(--Fondo);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  padding: 1%;
  width: 90%;
}

#CajaFlexibleHija1,
#CajaFlexibleHija2,
#CajaFlexibleHija3 {
  background-color: #ffffff;
  border: var(--Borde);
  height: 100px;
  width: 45%;
}

/* Grid */
#Grid {
  align-content: center;
  background-color: #ffff00;
  column-gap: 1%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  height: auto !important;
  justify-content: stretch;
  padding: 2%;
  row-gap: 1%;
}

#Grid>div {
  background-color: #bebebe;
  border: var(--Borde);
}

#Grid>div p {
  text-align: center;
}

#Grid>div:last-child {
  grid-column: 2 / 4;
}

#Grid>div[title="Multiple fila"] {
  grid-row: 1 / 6;
}