/* Selectores */
* {
  /* Global */
  font-family: Arial;
  /* Fuente */
}

body {
  /* Etiqueta */
  counter-reset: Contador;
  /* Crear/Iniciar/Reiniciar contador */
}

.Titulo {
  /* Clase */
  color: #000000;
  /* Color de texto */
  text-align: center;
  /* Alineación de texto */
  text-transform: uppercase;
  /* Transformación de texto */
}

.FondoSeccion {
  /* Clase */
  border: 2px solid #000000;
  /* Borde abreviado width, style y color */
}

div {
  /* Etiqueta */
  background-color: #e1e1e1;
  /* Color de fondo */
  height: 100px;
  /* Alto */
  margin: 1% auto;
  /* Margen superior/inferior y derecha/izquierda */
  width: 90%;
  /* Ancho */
}

div.IdentificadorCompartidoSelector {
  /* Etiqueta con clase */
  background-color: #afafaf;
}

div,
div,
div {
  /* Multiple selección */
  background-color: #9b9b9b;
  /* Color de fondo */
}

.IdentificadorClaseSelector {
  /* Clase */
  background-color: #e1e1e1;
  /* Color de fondo */
}

#IdentificadorIdSelector {
  /* Id */
  background-color: #afafaf;
  /* Color de fondo */
}

.IdentificadorExtraSelector {
  /* Identificador extra */
  background-color: #9b9b9b;
  /* Color de fondo */
}

/* Contadores */
.Titulo::before {
  /* Etiqueta antes */
  counter-increment: Contador;
  /* Incrementar contador */
  content: counter(Contador) ". ";
  /* Contenido */
}

/*Colores*/
#PredefinidoColor {
  /* Id */
  background-color: gainsboro;
  /* Color de fondo */
  border: 2px solid black;
  /* Borde abreviado width, style y color */
  color: grey;
  /* Color de letra */
}

#FondoColor {
  /* Id */
  background-color: #e1e1e1;
  /* Color de fondo */
}

#LetraColor {
  /* Id */
  color: #e1e1e1;
  /* Color de letra */
}

#BordeColor {
  /* Id */
  border: 2px solid #000000;
  /* Borde abreviado width, style, color */
}

#HwbColor {
  /* Id */
  background-color: hwb(0 88% 12%);
  /* Color de fondo */
}

#RgbaColor {
  /* Id */
  background-color: rgba(225, 225, 225, 1);
  /* Color de fondo */
}

#HslaColor {
  /* Id */
  background-color: hsla(0, 0%, 88%, 1);
  /* Color de fondo */
}

/*Fondo*/
#Fondo {
  /* Id */
  background-attachment: scroll;
  /* Desplazamiento de fondo */
  background-image: url(../Img/CSS.png);
  /* Imagen de fondo */
  background-repeat: no-repeat;
  /* Repetición imagen de fondo */
  background-position: center;
  /* Posición imagen de fondo */
  background-size: contain;
  /* Tamaño imagen de fondo */
}

#ColorFondo {
  /* Id */
  background-color: #afafaf;
  /* Color de fondo */
}

#ColorFondoOpacidad {
  /* Id */
  background-color: #afafaf;
  /* Color de fondo */
  opacity: 50%;
  /* Opacidad */
}

#ColorFondoOpaco {
  /* Id */
  background-color: #afafaf83;
  /* Color de fondo */
}

/* Bordes */
#DottedBorde {
  /* Id */
  border-style: dotted;
  /* Estilo borde */
  border-width: thick;
  /* Grosor borde */
}

#DashedBorde {
  /* Id */
  border-style: dashed;
  /* Estilo borde */
  border-width: thin medium thick 2px;
  /* Grosor borde superior, derecho, inferior e izquierdo */
}

#SolidBorde {
  /* Id */
  border-color: #000000;
  /* Color borde */
  border-style: solid;
  /* Estilo borde */
}

#DoubleBorde {
  /* Id */
  border-color: #000000 #e1e1e1 #afafaf #9b9b9b;
  /* Color borde superior, derecho, inferior e izquierdo */
  border-style: double;
  /* Estilo borde */
}

#GrooveBorde {
  /* Id */
  border-radius: 25px;
  /* Esquina borde */
  border-style: groove;
  /* Estilo borde */
}

#RidgeBorde {
  /* Id */
  border-style: ridge;
  /* Estilo borde */
}

#InsetBorde {
  /* Id */
  border-style: inset;
  /* Estilo borde */
}

#OutsetBorde {
  /* Id */
  border-style: outset;
  /* Estilo borde */
}

#NoneBorde {
  /* Id */
  border-style: none;
  /* Estilo borde */
}

#HiddenBorde {
  /* Id */
  border-style: hidden;
  /* Estilo borde */
}

#MezclaBorde {
  /* Id */
  border-style: dotted dashed solid double;
  /* Estilo borde superior, derecho, inferior e izquierdo */
}

/* Margen */
#DefinidaMargen {
  /* Id */
  margin: 1% 10% 1% 0%;
  /* Margen superior, derecha, inferior e izquierda */
}

#HeredadaMargen {
  /* Id */
  margin: 1% 0% 1% 10%;
  /* Margen superior, derecha, inferior e izquierda */
}

#HeredadaMargen p {
  /* Etiqueta dentro del Id */
  background-color: #afafaf;
  margin: inherit;
  /* Margen heredada */
}

#AutomaticaMargen {
  /* Id */
  margin: 1% auto;
  /* Margen automático para centrar */
}

/* Padding */
#DefinidoPadding {
  /* Id */
  padding: 1% 0% 1% 10%;
  /* Relleno superior, derecho, inferior e izquierdo */
}

#HeredadoPadding {
  /* Id */
  padding: 1% 0% 1% 10%;
  /* Relleno superior, derecho, inferior e izquierdo */
}

#HeredadoPadding p {
  /* Etiqueta dentro del Id */
  background-color: #afafaf;
  /* Color de fondo */
  padding: inherit;
  /* Relleno heredado */
}

#BoxSizingPadding {
  /* Id */
  box-sizing: border-box;
  /* Tamaño */
  padding: 1% 0% 1% 10%;
  /* Relleno superior, derecho, inferior e izquierdo */
}

/* Altura y anchura */
#AlturaYAnchura {
  /* Id */
  height: 100px;
  /* Altura */
  width: 75%;
  /* Anchura */
}

#HeredadaAlturaYAnchura {
  /* Id */
  height: 100px;
  /* Altura */
  width: 75%;
  /* Anchura */
}

#HeredadaAlturaYAnchura p {
  /* Etiqueta dentro del Id */
  background-color: #afafaf;
  /* Color de fondo */
  height: inherit;
  /* Altura */
  width: inherit;
  /* Anchura */
}

#MaximaAlturaYAnchura {
  /* Id */
  max-height: 100px;
  /* Altura máxima */
  max-width: 75%;
  /* Anchura máxima */
}

/* Modelo de caja */
#ModeloDeCaja {
  /* Id */
  background-color: #9b9b9b;
  /* Color de fondo */
  background-clip: content-box;
  /* Posición del fondo */
  border: 5px solid #000000;
  /* Borde abreviado width. style y color */
  outline: thick solid #9b9b9b;
  /* Remarcado abreviado width, style y color */
  padding: 5px;
  /* Relleno */
}

/* Outline */
#DottedOutline {
  /* Id */
  outline-style: dotted;
  /* Estilo remarcado */
  outline-width: thin;
  /* Grosor remarcado */
}

#DashedOutline {
  /* Id */
  outline-style: dashed;
  /* Estilo remarcado */
  outline-width: medium;
  /* Grosor remarcado */
}

#SolidOutline {
  /* Id */
  outline-style: solid;
  /* Estilo remarcado */
  outline-width: thick;
  /* Grosor remarcado */
}

#DoubleOutline {
  /* Id */
  outline-color: #000000;
  /* Color remarcado */
  outline-style: double;
  /* Estilo remarcado */
}

#GrooveOutline {
  /* Id */
  outline-offset: 2px;
  /* Separación remarcado */
  outline-style: groove;
  /* Estilo remarcado */
}

#RidgeOutline {
  /* Id */
  outline-style: ridge;
  /* Estilo remarcado */
}

#InsetOutline {
  /* Id */
  outline-style: inset;
  /* Estilo remarcado */
}

#OutsetOutline {
  /* Id */
  outline-style: outset;
  /* Estilo remarcado */
}

#NoneOutline {
  /* Id */
  outline-style: none;
  /* Estilo remarcado */
}

#HiddenOutline {
  /* Id */
  outline-style: hidden;
  /* Estilo remarcado */
}

/* Texto */
#TituloConEstilo {
  /* Id */
  color: #0000ff;
  /* Color de texto */
}

#CentroTexto {
  /* Id */
  text-align: center;
  /* Alineación de texto */
}

#DerechaTexto {
  /* Id */
  text-align: right;
  /* Alineación de texto */
}

#IzquierdaTexto {
  /* Id */
  text-align: left;
  /* Alineación de texto */
}

#JustificadoTexto {
  /* Id */
  text-align: justify;
  /* Alineación de texto */
}

#FinalCentroTexto {
  /* Id */
  text-align: left;
  /* Alineación de texto */
  text-align-last: center;
  /* Alineación última línea */
}

#FinalDerechaTexto {
  /* Id */
  text-align: left;
  /* Alineación de texto */
  text-align-last: right;
  /* Alineación última línea */
}

#FinalJustificadoTexto {
  /* Id */
  text-align: left;
  /* Alineación de texto */
  text-align-last: justify;
  /* Alineación última línea */
}

#DireccionadoTexto {
  /* Id */
  direction: rtl;
  /* Dirección (Right to left) */
  unicode-bidi: bidi-override;
  /* Dirección de escritura */
}

.AlineadoTexto {
  /* Clase */
  font-size: 25px;
  /* Tamaño de fuente */
}

#ImagenBaseTexto {
  /* Id */
  vertical-align: baseline;
  /* Alienación vertical en línea */
}

#ImagenSuperiorTexto {
  /* Id */
  vertical-align: text-top;
  /* Alienación vertical en línea */
}

#ImagenInferiorTexto {
  /* Id */
  vertical-align: text-bottom;
  /* Alienación vertical en línea */
}

#ImagenSubTexto {
  /* Id */
  vertical-align: sub;
  /* Alienación vertical en línea */
}

#ImagenSupTexto {
  /* Id */
  vertical-align: super;
  /* Alienación vertical en línea */
}

#DecoradoSuperiorTexto {
  /* Id */
  text-decoration-line: overline;
  /* Decoración de texto */
  text-decoration-color: #000000;
  /* Color de decoración */
}

#DecoradoLineThroughTexto {
  /* Id */
  text-decoration-line: line-through;
  /* Decoración de texto */
  text-decoration-style: solid;
  /* Estilo de decoración */
}

#DecoradoInferiorTexto {
  /* Id */
  text-decoration-line: underline;
  /* Decoración de texto */
  text-decoration-thickness: 2px;
  /* Grosor de decoración */
}

#MezclaDecoradoTexto {
  /* Id */
  text-decoration-line: overline underline;
  /* Decoración múltiple */
}

#TransformadoMayusculaTexto {
  /* Id */
  text-transform: uppercase;
  /* Transformación de texto */
}

#TransformadoMinusculaTexto {
  /* Id */
  text-transform: lowercase;
  /* Transformación de texto */
}

#TransformadoMayusculaYMinusculaTexto {
  /* Id */
  text-transform: capitalize;
  /* Transformación de texto */
}

#IdentadoTexto {
  /* Id */
  text-indent: 5%;
  /* Identación de texto */
}

#EspaciadoTexto {
  /* Id */
  letter-spacing: 5px;
  /* Espaciado de texto */
}

#EspacioLineaTexto {
  /* Id */
  line-height: 200%;
  /* Espaciado de línea */
}

#EspacioPalabraTexto {
  /* Id */
  word-spacing: 5px;
  /* Espaciado de palabra */
}

#LineaTexto {
  /* Id */
  white-space: wrap;
  /* Continuidad de línea */
}

#SombraTexto {
  /* Id */
  text-shadow: 2px 2px;
  /* Sombra de texto superior y derecha */
}

#SombraColorTexto {
  /* Id */
  text-shadow: 2px 2px #000000;
  /* Sombra de texto superior, derecha y color */
}

#SombraDesenfoqueTexto {
  /* Id */
  text-shadow: 2px 2px 5px;
  /* Sombra de texto superior, derecha y desenfoque */
}

#SombraDesenfoqueMulticolorTexto {
  /* Id */
  text-shadow: 2px 2px 5px #0000ff, 0px 0px 2px #ff0000, 4px 4px 2px #00ff00, 5px 5px 1px #ff00ff;
  /* Sombra múltiple de texto superior, derecha, desenfoque y color */
}

/* Fuentes */
#SerifFuente {
  /* Id */
  font-family: "Times New Roman", serif;
  /* Fuente */
}

#SansSerifFuente {
  /* Id */
  font-family: "Franklin Gothic Medium", sans-serif;
  /* Fuente */
}

#MonoespaceFuente {
  /* Id */
  font-family: "Courier New", monospace;
  /* Fuente */
}

#CursiveFuente {
  /* Id */
  font-family: cursive;
  /* Fuente */
}

#FantasyFuente {
  /* Id */
  font-family: fantasy;
  /* Fuente */
}

#NormalFuente {
  /* Id */
  font-family: Arial;
  /* Fuente */
}

#ItalicFuente {
  /* Id */
  font-style: italic;
  /* Estilo de fuente */
}

#ObliqueFuente {
  /* Id */
  font-style: oblique;
  /* Estilo de fuente */
}

#GruesaFuente {
  /* Id */
  font-weight: 800;
  /* Grosor de fuente */
}

#VersalitaFuente {
  /* Id */
  font-variant: small-caps;
  /* Variante de fuente */
}

/* Íconos */
.material-symbols-outlined {
  /* Clase */
  color: #000000;
  /* Color de texto */
  font-variation-settings: "FILL" 0, "GRAD" 10, "opsz" 30, "wght" 900;
  /* Propiedades de ícono */
}

/* Enlaces y cursores */
#Enlace:link {
  /* Id no visitado */
  background-color: #ffffff;
  /* Color de fondo */
  border: 2px solid #000000;
  /* Borde abreviado width, style color */
  color: #000000;
  /* Color de texto */
  display: inline-block;
  /* Tipo de pantalla */
  padding: 1%;
  /* Relleno */
  text-align: center;
  /* Alineación de texto */
  text-decoration: none;
  /* Decoración de texto */
}

#Enlace:visited {
  /* Id visidato */
  background-color: #e1e1e1;
  /* Color de fondo */
  color: #000000;
  /* Color de texto */
}

#Enlace:hover {
  /* Id con cursor sobre */
  background-color: #afafaf;
  /* Color de fondo */
}

#Enlace:active {
  /* Id con click activo */
  background-color: #919191;
  /* Color de fondo */
}

#Cursor1 {
  /* Id */
  cursor: auto;
  /* Tipo de cursor */
}

#Cursor2 {
  /* Id */
  cursor: crosshair;
  /* Tipo de cursor */
}

#Cursor3 {
  /* Id */
  cursor: default;
  /* Tipo de cursor */
}

#Cursor4 {
  /* Id */
  cursor: e-resize;
  /* Tipo de cursor */
}

#Cursor5 {
  /* Id */
  cursor: help;
  /* Tipo de cursor */
}

#Cursor6 {
  /* Id */
  cursor: move;
  /* Tipo de cursor */
}

#Cursor7 {
  /* Id */
  cursor: n-resize;
  /* Tipo de cursor */
}

#Cursor8 {
  /* Id */
  cursor: ne-resize;
  /* Tipo de cursor */
}

#Cursor9 {
  /* Id */
  cursor: nw-resize;
  /* Tipo de cursor */
}

#Cursor10 {
  /* Id */
  cursor: pointer;
  /* Tipo de cursor */
}

#Cursor11 {
  /* Id */
  cursor: progress;
  /* Tipo de cursor */
}

#Cursor12 {
  /* Id */
  cursor: s-resize;
  /* Tipo de cursor */
}

#Cursor13 {
  /* Id */
  cursor: se-resize;
  /* Tipo de cursor */
}

#Cursor14 {
  /* Id */
  cursor: sw-resize;
  /* Tipo de cursor */
}

#Cursor15 {
  /* Id */
  cursor: text;
  /* Tipo de cursor */
}

#Cursor16 {
  /* Id */
  cursor: w-resize;
  /* Tipo de cursor */
}

#Cursor17 {
  /* Id */
  cursor: wait;
  /* Tipo de cursor */
}

/* Listas */
#DesordenadaLista {
  /* Id */
  background-color: #e1e1e1;
  /* Color de fondo */
  list-style-position: inside;
  /* Posición de aristas */
  list-style-type: square;
  /* Estilo de aristas */
  padding: 1%;
  /* Relleno */
}

#DesordenadaLista li {
  /* Etiqueta dentro del Id */
  background-color: #afafaf;
  /* Color de fondo */
}

#ImagenLista {
  /* Id */
  border: 2px solid #000000;
  /* Borde abreviado width, style y color */
  list-style-image: url();
  /* Imagen de arista */
  list-style-position: outside;
  /* Posición de aristas */
}

#OrdenadaLista {
  /* Id */
  background-color: #e1e1e1;
  /* Color de fondo */
  list-style-type: upper-alpha;
  /* Estilo de aristas */
}

/* Tabla */
#Tabla {
  /* Id */
  overflow: auto;
  /* Exceso*/
  width: 100%;
  /* Ancho */
}

table {
  /* Etiqueta */
  width: 100%;
  /* Anchura */
}

td,
th {
  /* Múltiple selección */
  padding: 0.5%;
  /* Relleno */
}

table,
caption,
td,
th {
  /* Múltiple selección */
  border: 2px solid #000000;
  /* Borde abreviado width, style y color */
  border-collapse: collapse;
  /* Límites de bordes */
  height: 20px;
  /* Altura */
  text-align: center;
  /* Alineación de texto */
  vertical-align: middle;
  /* Alineación vertical en línea */
}

tr:hover {
  /* Etiqueta con cursor sobre */
  background-color: #afafaf;
  /* Color de fondo */
}

/* Display */
#DeshabilitadoDisplay {
  /* Id */
  display: none;
  /* Pantalla */
}

#OcultoDisplay {
  /* Id */
  visibility: hidden;
  /* Visibilidad */
}

#InlineDisplay {
  /* Id */
  display: block;
  /* Pantalla */
}

#InlineDisplay p {
  /* Etiquetas dentro del Id */
  background-color: #afafaf;
  /* Color de fondo */
  display: inline;
  /* Pantalla */
}

#InlineBlockDisplay {
  /* Id */
  display: block;
  /* Pantalla */
}

#InlineBlockDisplay p {
  /* Etiquetas dentro del Id */
  background-color: #afafaf;
  /* Color de fondo */
  display: inline-block;
  /* Pantalla */
}

#BlockDisplay {
  /* Id */
  display: block;
  /* Pantalla */
}

/* Max-width */
#MaxWidth {
  /* Id */
  max-width: 50%;
  /* Anchura máxima */
}

/* Position */
#AbsolutePosition {
  /* Id */
  background-color: #919191;
  /* Color de fondo */
  left: 15%;
  /* Posición izquierda */
  position: absolute;
  /* Posición */
  top: 10%;
  /* Superior */
  width: 0%;
  /* Anchura */
}

#RelativePosition {
  /* Id */
  position: relative;
  /* Posición */
  top: 10px;
  /* Superior */
}

#FixedPosition {
  /* Id */
  height: 5%;
  /* Altura */
  right: 5%;
  /* Derecha */
  position: fixed;
  /* Posición */
  bottom: 0%;
  /* Inferior */
  width: 90%;
  /* Anchura */
}

#StaticPosition {
  /* Id */
  position: static;
  /* Posición */
}

#StickyPosition {
  /* Id */
  height: 5%;
  /* Altura */
  position: sticky;
  /* Posición */
  top: 0.25%;
  /* Posición superior */
}

/* Z-index */
#ZIndex {
  /* Id */
  height: 100px;
  /* Altura */
}

#ImagenZIndex {
  /* Id */
  display: block;
  /* Pantalla */
  left: 45%;
  /* Posición izquierda */
  position: absolute;
  /* Posición */
  z-index: 1;
  /* Capa */
}

#ParrafoZIndex {
  /* Id */
  text-align: center;
  /* Alineación de texto */
  z-index: 2;
  /* Capa */
}

/* Overflow */
#AutoOverflow {
  /* Id */
  display: inline-block;
  /* Pantalla */
  overflow: auto;
  /* Exceso */
  width: 45%;
  /* Anchura */
}

#HiddenOverflow {
  /* Id */
  display: inline-block;
  /* Pantalla */
  overflow: hidden;
  /* Exceso */
  width: 45%;
  /* Anchura */
}

#ScrollOverflow {
  /* Id */
  display: inline-block;
  /* Pantalla */
  overflow: scroll;
  /* Exceso */
  width: 45%;
  /* Anchura */
}

#VisibleOverflow {
  /* Id */
  display: inline-block;
  /* Pantalla */
  overflow: visible;
  /* Exceso */
  width: 45%;
  /* Anchura */
}

/* Float */
#Float {
  /* Id */
  height: auto;
  /* Anchura */
}

#IzquierdaFloat {
  /* Id */
  background-color: #afafaf;
  /* Color de fondo */
  float: left;
  /* Flotación */
}

#ClearFloat {
  /* Id */
  background-color: #afafaf;
  /* Color de fondo */
  clear: left;
  /* Flotación */
}

#DerechaFloat {
  /* Id */
  background-color: #afafaf;
  /* Color de fondo */
  float: right;
  /* Flotación */
}

#ImagenClearFix {
  /* Id */
  float: right;
  /* Flotación */
}

.Float {
  /* Clase */
  border: 2px solid #000000;
  /* Borde abreviado width, style y color */
  box-sizing: border-box;
  /* Tamaño */
  float: left;
  /* Flotación */
  width: 25%;
  /* Anchura */
}

#CajaFloat {
  /* Id */
  clear: left;
  /* Flotación siguiente */
  height: 200px;
  /* Altura */
}

#CajaHijaFloat {
  /* Id */
  background-color: #afafaf;
  float: inherit;
  /* Flotación */
}

#ListaFloat {
  /* Id */
  background-color: #e1e1e1;
  /* Color de fondo */
  list-style-type: none;
  /* Estilo de aristas */
  overflow: hidden;
  /* Exceso */
}

#ListaFloat li {
  /* Etiqueta dentro del Id */
  background-color: #afafaf;
  /* Color de fondo */
  float: left;
  /* Flotación */
}

/* Alineación */
#Alineacion {
  /* Id */
  border: 2px solid #000000;
  /* Borde abreviado width, style y color */
  height: 200px;
  /* Altura */
  padding: 10% 0% 0% 0%;
  /* Relleno superior, derecho, inferior e izquerdo */
}

#Alineacion img {
  /* Etiquetas dentro del Id */
  display: block;
  /* Pantalla */
  margin: auto;
  /* Margen */
}

/* Pseudoclases */
#HoverPseudoclase:hover {
  /* Id con cursor sobre */
  background-color: #afafaf;
  /* Color de fondo */
}

#FirstLastChildPseudoclase :first-child {
  /* Id solo primer hijo */
  background-color: #afafaf;
  /* Color de fondo */
}

#FirstLastChildPseudoclase :last-child {
  /* Id solo primer hijo */
  background-color: #919191;
  /* Color de fondo */
}

/* Pseudoelementos */
#FirstLinePseudoElemento ::first-line {
  /* Id solo primera línea */
  background-color: #afafaf;
  /* Color de fondo */
}

#FirstLetterPseudoElemento ::first-letter {
  /* Id solo primera letra */
  color: #ffffff;
  /* Color de texto */
  font-size: 30px;
  /* Tamaño de letra */
}

#BeforePseudoElemento::before {
  /* Id antes */
  content: 'Before';
  /* Contenido */
}

#AfterPseudoElemento::after {
  /* Id después */
  content: 'After';
  /* Contenido */
}

#PseudoElementoMarker ::marker {
  /* Id marcador */
  color: #e1e1e1;
  /* Color de texto */
  font-size: 12px;
  /* Tamaño de letra */
}

::selection {
  /* Selección */
  background-color: #000000;
  /* Color de fondo */
  color: #ffffff;
  /* Color de texto */
}

/* Opacidad*/
#Opacidad {
  /* Id */
  display: block;
  /* Pantalla */
  margin: auto;
  /* Margen */
  opacity: 25%;
  /* Opacidad */
}

#Opacidad:hover {
  /* Id con cursor sobre */
  opacity: 100%;
  /* Opacidad */
}

/* Barra de navegación */
#VerticalBarraDeNavegacion {
  /* Id */
  display: inline-block;
  /* Pantalla */
  height: auto;
  /* Altura */
  width: auto;
  /* Anchura */
}

#VerticalBarraDeNavegacion ul {
  /* Etiquetas dentro del Id */
  list-style-type: none;
  /* Estilo de ariastas */
  margin: 0%;
  /* Margen */
  padding: 0%;
  /* Relleno */
}

#HorizontalBarraDeNavegacion {
  /* Id */
  width: 100%;
  /* Anchura */
}

#HorizontalBarraDeNavegacion ul {
  /* Etiquetas dentro del Id */
  display: inline;
  /* Pantalla */
  list-style-type: none;
  /* Estilo de lista */
}

#HorizontalBarraDeNavegacion li {
  /* Etiquetas dentro del Id */
  float: left;
  /* Flotación */
  margin: 0.25%;
  /* Margen */
}

/* Menú desplegable */
#Menu { /* Id */
  position: relative; /* Posición */
}

#MenuDesplegable { /* Id */
  background-color: #afafaf; /* Color de fondo */
  border: 2px solid #000000; /* Borde abreviado width, style y color */
  display: none; /* Pantalla */
  left: 5%; /* Posición izquierda */
  position: absolute; /* Posición */
}

#Menu:hover #MenuDesplegable { /* Etiquetas dentro del Id con cursor sobre */
  display: block; /* Pantalla */
}

/* Galería de imágenes */
.Galeria { /* Id */
  background-color: #e1e1e1; /* Color de fondo */
  display: inline-block; /* Pantalla */
  height: auto; /* Altura */
  padding: 1%; /* Relleno */
  width: 45%; /* Anchura */
}

.Galeria p { /* Etiquetas dentro del Id */
  text-align: center; /* Alineación de texto */
}

/* Selectores de atributos */
a[target] { /* Etiqueta con etiqueta */
  background-color: #e1e1e1; /* Color de fondo */
  display: block; /* Pantalla */
}

a { /* Etiqueta */
  background-color: #afafaf; /* Color de fondo */
  display: block; /* Pantalla */
}

a[target="_blank"] { /* Etiqueta con valor de atributo */
  background-color: #919191; /* Color de fondo */
  display: block; /* Pantalla */
}

a[href~="##"] { /* Etiqueta con valor de atributo */
  background-color: #e1e1e1; /* Color de fondo */
  display: block; /* Pantalla */
}

a[href|="Valor"] { /*Etiqueta con valor de atributo como palabra  */
  background-color: #afafaf; /* Color de fondo */
  display: block; /* Pantalla */
}

a[href^="V#"] { /* Etiqueta con valor de atributo como inicial */
  background-color: #919191; /* Color de fondo */
  display: block; /* Pantalla */
}

a[href$="r"] { /* Etiqueta con valor de atributo como final */
  background-color: #e1e1e1; /* Color de fondo */
  display: block; /* Pantalla */
}

a[href*="#V"] { /* Etiquea con valor de atributo como parte */
  background-color: #afafaf; /* Color de fondo */
  display: block; /* Pantalla */
}

/* Formulario */
form { /* Etiqueta */
  background-color: #e1e1e1; /* Color de fondo */
  display: block; /* Pantalla */
  margin: 1% auto; /* Margen */
  padding: 1%; /* Relleno */
  width: 90%; /* Anchura */
}

input { /* Etiqueta */
  display: block; /* Pantalla */
  box-sizing: border-box; /* Tamaño */
  margin: auto; /* Margen */
  padding: 1%; /* Relleno */
  width: 90%; /* Anchura */
}

input:focus { /* Etiqueta con foco sobre */
  outline: 5px solid #919191; /* Remarcado abreviado width, style y color */
}

select { /* Etiqueta */
  display: block; /* Pantalla */
  box-sizing: border-box; /* Tamaño */
  margin: auto; /* Margen */
  padding: 5px; /* Relleno */
  width: 90%; /* Anchura */
}

#Casilla1 { /* Id */
  background-color: transparent; /* Color de fondo */
  border: none; /* Borde */
  border-bottom: 2px solid #919191; /* Borde inferior abreviado width, style y color */
}

#Casilla2 { /* Id */
  background-image: url(../Img/CSS.png); /* Imagen de fondo */
  background-position: left; /* Posición imagen de fondo */
  background-repeat: no-repeat; /* Repetición imagen de fondo */
  background-size: contain; /* Tamaño imagen de fondo */
  padding-left: 25px; /* Relleno izquierdo */
}

#Casilla4 { /* Id */
  transition: width 0.5s ease-in-out; /* Transición abreviada propiedad, duración y estilo */
  width: 25%; /* Anchura */
}

#Casilla4:focus { /* Id con foco sobre */
  width: 90%; /* Anchura */
}

textarea { /* Etiqueta */
  resize: none; /* Edición de tamaño */
}

/* !Important */
textarea { /* Etiqueta */
  resize: horizontal !important; /* Edición de tamaño !Superpuesta */
}

/* Matemáticas */
#CalculoMatematica { /* Id */
  background-color: #e1e1e1; /* Color de fondo */
  height: 100px; /* Anchura */
  width: calc(100% - 100px) !important; /* Anchura calculada */
}

#MaxMatematica { /* Id */
  background-color: #afafaf; /* Color de fondo */
  height: 100px; /* Anchura */
  width: max(50%, 100px) !important; /* Anchura calculada */
}

#MinMatematica { /* Id */
  background-color: #919191; /* Color de fondo */
  height: 100px; /* Anchura */
  width: min(50%, 100px) !important; /* Anchura calculada */
}

/* Esquinas redondeadas */
#Esquinas { /* Id */
  border-radius: 25px 15px 0px 50px; /* Esquina abreviada superior izquierda, superior derecha, inferior derecha e inferior izquierda */
}

/* Multiples fondos */
#MultipleFondo { /* Id */
  background-image: url(../Img/CSS.png), url(../Img/CSS.png); /* Imagen de fondo */
  background-origin: padding-box; /* Ubicación imagen de fondo */
  background-position: left, right; /* Posición imagen de fondo */
  background-repeat: no-repeat, no-repeat; /* Repetición imagen de fondo */
  background-size: contain, contain; /* Tamaño imagen de fondo */
  object-fit: contain; /* Ubicación de contenido */
}

/* Palabras clave */
#TransparentPalabraClave { /* Id */
  background-color: transparent; /* Color de fondo */
  border: 2px solid #000000; /* Borde abreviado width, style y color */
  height: 50%; /* Altura */
}

/* Degradados */
#LinealDegradado { /* Id */
  background: linear-gradient(to right, #e1e1e1, #000000); /* Degradado lineal con dirección y color */
}

#LinealDiagonalDegradado { /* Id */
  background: linear-gradient(to right bottom, #e1e1e1, #000000); /* Degradado lineal con dirección y color */
}

#RadialDegradado { /* Id */
  background: radial-gradient(ellipse, #e1e1e1, #000000); /* Degradado radiante con forma y color */
}

#ConicoDegradado { /* Id */
  background: conic-gradient(#e1e1e1, #000000); /* Degradado cónico con color */
}

#ConicoConGradosDegradado { /* Id */
  background: conic-gradient( #e1e1e1 45deg, #000000 260deg); /* Degradado cónico con color y grados */
}

#ConicoConGradoInicialDegradado { /* Id */
  background: conic-gradient(from 90deg, #e1e1e1 45deg, #000000 260deg); /* Degradado cónico con grado de origen, color y grados */
}

#ConicoConCentroDegradado { /* Id */
  background: conic-gradient(at 15% 65%, #e1e1e1 45deg, #000000 260deg); /* Degradado cónico con posición de origen, color y grados */
}

#RepetidoDegradado { /* Id */
  background: repeating-conic-gradient( #e1e1e1 10%, #000000 20%); /* Degradado cónico repetido con color y tamaño */
}

/* Sombras */
#Sombra { /* Id */
  box-shadow: 0px 0px 10px 10px #000000 inset;  /* Sombra de caja superior, derecha, desenfoque, tamaño, color y ubicación */
}

/* Efectos de texto */
#OcultoTexto { /* Id */
  margin: 1% auto; /* Margen vertical y horizontal */
  overflow: hidden; /* Exceso */
  text-overflow: clip; /* Exceso de texto */
  white-space: nowrap; /* Continuación de línea */
  width: 90%; /* Anchura */
}

#SuspensivoTexto { /* Id */
  margin: 1% auto; /* Margen vertical y horizontal */
  overflow: hidden; /* Exceso */
  text-overflow: ellipsis; /* Exceso de texto */
  white-space: nowrap; /* Continuación de línea */
  width: 90%; /* Anchura */
}

#SuspensivoTexto:hover { /* Id */
  overflow: visible; /* Exceso */
  white-space: wrap; /* Continuación de línea */
}

#LargoTexto { /* Id */
  margin: 1% auto; /* Margen vertical y horizontal */
  white-space: wrap; /* Continuación de línea */
  width: 15%; /* Anchura */
  word-wrap: break-word; /* Rompimiento de palabra */
}

#SaltoDeLineaKeepTexto { /* Id */
  margin: 1% auto; /* Margen vertical y horizontal */
  width: 50%; /* Anchura */
  word-break: keep-all; /* Rompimiento de palabra */
}

#SaltoDeLineaBreakTexto { /* Id */
  margin: 1% auto; /* Margen vertical y horizontal */
  width: 50%; /* Anchura */
  word-break: break-all; /* Rompimiento de palabra */
}

#DisposicionTexto { /* Id */
  margin: 1% auto; /* Margen vertical y horizontal */
  writing-mode: vertical-lr; /* Horientación */
}

/* Transformaciones */
#TransladarTransformacion { /* Id */
  transform: translate(5px, 10px); /* Transformación transladar derecha y superior */
}

#RotarTransformacion { /* Id */
  transform: rotate(2deg); /* Transformación rotar eje X */
}

#EscalarTransformacion { /* Id */
  transform: scale(100%, 115%); /* Transformación escalar lados y superior */
}

#SesgoTransformacion { /* Id */
  transform: skew(5deg, 2deg); /* Transformación sesgar lados y superior */
}

#MatrizTransformacion { /* Id */
  transform: matrix(1, 0.05, 0.5, 0.7, 5, 0); /* Transformación sesgar lado superior, derecho, izquierdo e inferior */
}

#Rotar3DTransformacion { /* Id */
  transform: rotateX(5deg); /* Transformación rotar eje X */
  transform: rotateY(50deg); /* Transformación rotar eje Y */
}

/* Transiciones */
#Transicion { /* Id */
  transition: all 1s; /* Transición abreviada propiedad y duración */
  transition-delay: 0.25s; /* Retraso de transición */
  transition-timing-function: ease-out; /* Estilo de transición */
}

#Transicion:hover { /* Id con sursor sobre */
  border-radius: 50%; /* Esquina */
  transform: rotate(360deg); /* Transformación rotar eje X */
  width: 25%; /* Anchura */
}

/* Animaciones */
@keyframes Animacion {  /* Animación */

  0% { /* Trasncurso de la animación */
    background-color: #e1e1e1; /* Color de fondo */
    transform: rotate(0deg); /* Transformación rotar eje X */
  }

  50% { /* Trasncurso de la animación */
    background-color: #000000; /* Color de fondo */
    transform: rotate(360deg); /* Transformación rotar eje X */
  }

  100% { /* Trasncurso de la animación */
    background-color: #e1e1e1; /* Color de fondo */
    transform: rotate(360deg); /* Transformación rotar eje X */
  }
}

#Animacion { /* Id */
  animation-direction: normal; /* Dirección de animación */
  animation-duration: 1s; /* Duración de animación */
  animation-fill-mode: both; /* Diseño de animación */
  animation-iteration-count: infinite; /* Repetición de animación */
  animation-name: Animacion; /* Nombre de animación */
  animation-timing-function: linear; /* Estilo de animación */
  border-radius: 50%; /* Esquina */
  width: 105px; /* Anchura */
}

#AnimacionAbreviada { /* Id */
  animation: Animacion 1s linear 0s infinite reverse both; /* Animación abreviada nombre, duración, estilo, retraso, repetición, dirección, diseño */
  border-radius: 50%; /* Esquina */
  width: 105px; /* Anchura */
}

/* Estilo de imágenes */
#EstiloImagen { /* Id */
  -webkit-box-reflect: right 5% linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0)); /* Reflejo(Compatible) dirección y color */
  display: block; /* Pantalla */
  filter: grayscale(100%); /* Filtro */
  margin: auto; /* Margen */
  outline: 0px solid #e1e1e1; /* Remarcado abreviado width, style y color */
  transition: outline 0.5s ease-out; /* Transición propiedad, duración y estilo */
}

#EstiloImagen:hover { /* Id con cursor sobre */
  filter: grayscale(0%); /* Filtro */
  outline: 10px solid #e1e1e1; /* Remarcado abreviado width, style y color */
}

/* Object-fit */
#FillObjectFit { /* Id */
  object-fit: fill; /* Comportamiento de imagen */
}

#ContainObjectFit { /* Id */
  object-fit: contain; /* Comportamiento de imagen */
}

#CoverObjectFit { /* Id */
  object-fit: cover; /* Comportamiento de imagen */
}

#NoneObjectFit { /* Id */
  object-fit: none; /* Comportamiento de imagen */
}

#ScaleDownObjectFit { /* Id */
  object-fit: scale-down; /* Comportamiento de imagen */
}

/* Object-position */
#ObjectPosition { /* Id */
  object-fit: cover; /* Comportamiento de imagen */
  object-position: 0% 0%; /* Posición de imagen */
}

/* Enmascaramiento */
#Enmascaramiento {
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  font-size: 100px;
  font-weight: 900;
  text-align: center;
}

/* Botones */
#FondoBoton { /* Id */
  background-color: #afafaf; /* Color de fondo */
}

#FuenteBoton { /* Id */
  font-size: 15px; /* Tamaño de texto */
}

#RellenoBoton { /* Id */
  padding: 1%; /* Relleno */
}

#EsquinaBoton { /* Id */
  border-radius: 25px; /* Esquina */
}

#BordeBoton { /* Id */
  border: 2px solid #000000; /* Borde abreviado width, style color */
}

#SeleccionBoton { /* Id */
  transition: all 0.5s ease-in-out; /* Transición propiedad, duración y estilo */
}

#SeleccionBoton:hover { /* Id con cursor sobre */
  background-color: #afafaf; /* Color de fondo */
  color: #000000; /* Color de texto */
}

#SombraBoton { /* Id */
  box-shadow: 0px 0px 10px #000000; /* Sombra derecha, superior, desenfoque y color */
}

#DeshabilitadoBoton { /* Id */
  cursor: not-allowed; /* Tipo de cursor */
  opacity: 50%; /* Opacidad */
}

#AnchoBoton { /* Id */
  margin-left: 1%; /* Margen izquierda */
  width: 100px; /* Anchura */
}

.GrupoBoton { /* Clase */
  background-color: #919191; /* Color de fondo */
  border-bottom: 2px solid #000000; /* Borde inferior abreviado width, style y color */
  border-left: none; /* Borde izquierdo */
  border-right: none; /* Borde derecho */
  border-top: 2px solid #000000; /* Borde superior abreviado width, style y color */
  float: left; /* Flotación */
  margin: 0%; /* Margen */
}

#AnimadoBoton { /* Id */
  transition: transform 2s linear; /* Transición propiedad, duración y estilo */
}

#AnimadoBoton:hover { /* Id con cursor sobre */
  transform: rotateY(360deg); /* Transformación rotar eje Y */
}

/* Paginación */
#Paginacion {
  display: block;
  margin: 1% auto;
  text-align: center;
}

#Paginacion a {
  background-color: #dddddd;
  color: #000000;
  display: inline;
  padding: 1%;
  margin: -0.5%;
  text-decoration: none;
  transition: Background-color 0.5s ease-in-out;
}

#Paginacion :first-child {
  background-color: #bebebe;
  border-radius: 25px 0px 0px 25px;
}

#Paginacion :last-child {
  background-color: #bebebe;
  border-radius: 0px 25px 25px 0px;
}

#Paginacion a:hover {
  background-color: #ffff00;
}

/* Columnas */
#Columnas {
  border: 2px solid #0000ff;
  column-count: 3;
  column-gap: 5px;
  column-rule: 2px solid #0000ff;
  column-width: 25px;
  height: 100px;
  margin: 1% auto;
  overflow: hidden;
  width: 90%;
}

#Columnas h6 {
  column-span: all;
}

#Columnas p {
  white-space: wrap;
  text-overflow: ellipsis;
}

/* Variables */
:root {
  --Alto: 100px;
  --Ancho: 90%;
  --Borde: 2px solid #0000ff;
  --Fondo: #ffff00;
  --Margen: 1% auto;
}

#Variable {
  border: var(--Borde);
  height: var(--Alto);
  margin: var(--Margen);
  width: var(--Ancho);
}

#VariableLocal {
  --BordeLocal: 2px solid #ff0000;
  border: var(--BordeLocal);
  height: var(--Alto);
  margin: var(--Margen);
  width: var(--Ancho);
}

#VariableJS {
  background-color: var(--Fondo);
  border: var(--Borde);
  height: var(--Alto);
  margin: var(--Margen);
  width: var(--Ancho);
}

#VariableConsulta {
  border: var(--Borde);
  height: var(--Alto);
  margin: var(--Margen);
  width: var(--Ancho);
}

#VariableConsulta p {
  --Letra: 30px;
  font-size: var(--Letra);
}

@media (max-width:450px) {

  :root {
    --Fondo: #00ffff;
  }

  #VariableConsulta p {
    --Letra: 15px;
  }
}

/* Box-sizing */
.CajaPredeterminada {
  border: var(--Borde);
  height: var(--Alto);
  margin: var(--Margen);
  width: var(--Ancho);
}

#BorderBox,
#ContentBox {
  padding: 5px;
}

#BorderBox {
  box-sizing: border-box;
}

#ContentBox {
  box-sizing: content-box;
}

/* MediaQuery */
@media screen and (min-width:500px) {
  #MediaQuery {
    --Borde500px: 2px solid #00ff00;
    border: var(--Borde500px);
  }
}

@media only screen and (orientation: landscape) {
  #MediaQuery {
    background-color: var(--Fondo);
  }
}

/* Flexbox */
#CajaFlexible {
  align-content: space-around;
  align-items: stretch;
  background-color: var(--Fondo);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  padding: 1%;
  width: 90%;
}

#CajaFlexibleHija1,
#CajaFlexibleHija2,
#CajaFlexibleHija3 {
  background-color: #ffffff;
  border: var(--Borde);
  height: 100px;
  width: 45%;
}

/* Grid */
#Grid {
  align-content: center;
  background-color: #ffff00;
  column-gap: 1%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  height: auto !important;
  justify-content: stretch;
  padding: 2%;
  row-gap: 1%;
}

#Grid>div {
  background-color: #bebebe;
  border: var(--Borde);
}

#Grid>div p {
  text-align: center;
}

#Grid>div:last-child {
  grid-column: 2 / 4;
}

#Grid>div[title="Multiple fila"] {
  grid-row: 1 / 6;
}